In [7]:
import pandas as pd
import numpy as np

In [8]:
import csv

path =  'UK.csv'

with open(path, 'r', encoding='utf-8', errors='ignore') as infile, open(path + 'UK_out.csv', 'w') as outfile:
     inputs = csv.reader(infile)
     outputs = csv.writer(outfile)

     for index, row in enumerate(inputs):
         outputs.writerow(row)

FileNotFoundError: [Errno 2] No such file or directory: 'UK.csv'

In [ ]:
df_sacramento = pd.read_csv("Business_Operation_Tax_Information.csv")
df_washington = pd.read_csv("Certified_Business_Enterprise.csv")
df_virginia = pd.read_csv("Business_Licenses (1).csv")
df_seattle = pd.read_csv("2011_Active_Business_License_Data.csv")
df_santamonica = pd.read_csv("Active_Business_Licenses.csv")
df_SF = pd.read_csv("Registered_Business_Locations_-_San_Francisco.csv")
df_SD2 = pd.read_csv("tr_active2.csv")
df_SD1 = pd.read_csv("tr_active1.csv")
df_saltlake = pd.read_csv("Salt_Lake_City_-_Business_Licenses.csv")
df_providence = pd.read_csv("Active_Business_Licenses_in_Providence.csv")
df_LA = pd.read_csv("Listing_of_Active_Businesses.csv")
df_kansas = pd.read_csv("Business_License_Holders.csv")
df_johnscreek = pd.read_csv("Business_Locations.csv")
df_hartford = pd.read_csv("City_of_Hartford_Business_Listing.csv")
df_culver = pd.read_csv("City_Business_-_Businesses_In_Culver_City.csv")
df_chattanooga = pd.read_csv("Business_License.csv")
df_mixed = pd.read_csv("Businesses_Registered_with_EBR_Parish.csv")
df_texas = pd.read_csv("TDLR_-_All_Licenses.csv")
df_squamishCanada = pd.read_csv("Business_Licence (1).csv")
df_NY = pd.read_csv("NewYork_Legally_Operating_Businesses.csv")
df_delaware = pd.read_csv("Delaware_Business_Licenses.csv")
df_berkeley = pd.read_csv("Berkeley_Business_Licenses.csv")
df_Canada = pd.read_csv("CanadaCompaniesV3.csv")
df_sp500 = pd.read_csv("s&p500.csv")
df_nasdaq = pd.read_csv("nasdaq.csv")
df_UK = pd.read_csv("ukOut.csv")

# Sacramento

In [ ]:
df_sacramento.head(10)

In [ ]:
df_sacramento.columns

In [ ]:
df_sacramento = df_sacramento[df_sacramento['Current_License_Status'] != 'License Cancelled']
df_sacramento = df_sacramento[df_sacramento['Current_License_Status'] != 'License Expired']

In [ ]:
df_sacramento = df_sacramento[['Business_Name', 'Business_Description', 'Location_City', 'Location_State']]
df_sacramento.head(5)

In [ ]:
df_sacramento = df_sacramento.dropna()
df_sacramento['Business_Description'].unique()

In [ ]:
df_sacramento.columns = ['Business Name', 'Industry', 'City', 'State']
df_sacramento.head(5)

# Washington

In [ ]:
df_washington.head(5)

In [ ]:
df_washington.columns

In [ ]:
df_washington = df_washington[['BUSINESSNAME', 'BUSINESSDESC']]

In [ ]:
df_washington = df_washington.dropna()
df_washington['City'] = 'Washington D.C'
df_washington['State'] = 'Washington D.C'
df_washington.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_washington.head(5)

# Virginia

In [ ]:
df_virginia.head(5)

In [ ]:
df_virginia.columns

In [ ]:
df_virginia = df_virginia[['Owner Name of Business','Business Classification ','Mailing City', 'Mailing State']]

In [ ]:
df_virginia = df_virginia.dropna()
df_virginia.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_virginia.head(5)

# Seattle

In [ ]:
df_seattle.head(5)

In [ ]:
df_seattle.columns

In [ ]:
df_seattle = df_seattle[['Business Legal Name', 'NAICS Description']]

In [ ]:
df_seattle = df_seattle.dropna()
df_seattle['City'] = 'Seatle'
df_seattle['State'] = 'WA'
df_seattle.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_seattle.head(5)

# Santamonica

In [ ]:
df_santamonica.head(5)

In [ ]:
df_santamonica.columns

In [ ]:
df_santamonica = df_santamonica[['DBA', 'Business Type', 'City', 'State']]
df_santamonica.head(5)

In [ ]:
df_santamonica = df_santamonica.dropna()
df_santamonica.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_santamonica.head(5)

# SF

In [ ]:
df_SF.head(5)

In [ ]:
df_SF.columns

In [ ]:
df_SF = df_SF[['DBA Name', 'NAICS Code Description', 'City', 'State']]
df_SF.head(5)

In [ ]:
df_SF = df_SF.dropna()
df_SF.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_SF.head(5)

# San Diego

In [ ]:
df_SD1.head(5)

In [ ]:
df_SD2.head(5)

In [ ]:
df_SD = pd.concat([df_SD1, df_SD2])
df_SD.head(5)

In [ ]:
df_SD.columns

In [ ]:
df_SD = df_SD[['DBA NAME', 'ACTIVITY DESC', 'CITY', 'STATE']]
df_SD.head(5)

In [ ]:
df_SD = df_SD.dropna()
df_SD.columns = ['Business Name', 'Industry', 'City', 'State']
df_SD.head(5)

# Salt Lake City (Drop due to no business name)

In [ ]:
df_saltlake.head(5)

In [ ]:
df_saltlake.columns

# Providence

In [ ]:
df_providence.head(5)

In [ ]:
df_providence.columns

In [ ]:
df_providence = df_providence[['DBA', 'PRIMARY_LIC_DESC']]
df_providence.head(5)

In [ ]:
df_providence = df_providence.dropna()
df_providence['City'] = 'Providence'
df_providence['State'] = 'RI'
df_providence.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_providence.head(5)

# LA

In [ ]:
df_LA.head(5)

In [ ]:
df_LA.columns

In [ ]:
df_LA = df_LA[['BUSINESS NAME', 'PRIMARY NAICS DESCRIPTION']]

In [ ]:
df_LA = df_LA.dropna()
df_LA['City'] = 'Los Angeles'
df_LA['State'] = 'CA'
df_LA.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_LA.head(5)

# Kansas

In [ ]:
df_kansas.head(5)

In [ ]:
df_kansas.columns

In [ ]:
df_kansas = df_kansas[['DBA Name', 'Business Type', 'City', 'State']]

In [ ]:
df_kansas = df_kansas.dropna()
df_kansas.columns = ['Business Name', 'Industry', 'City', 'State']

In [ ]:
df_kansas.head(5)

# Johns Creek

In [ ]:
df_johnscreek.head(5)

In [ ]:
df_johnscreek.columns

In [ ]:
df_johnscreek = df_johnscreek[['BusinessName', 'MapCategory', 'City', 'State']]
df_johnscreek.head(5)

In [ ]:
df_johnscreek = df_johnscreek.dropna()
df_johnscreek.columns = ['Business Name', 'Industry', 'City', 'State']
df_johnscreek.head(5)

# Hartford (drop due to no business type)

In [ ]:
df_hartford.head(5)

In [ ]:
df_hartford.columns

# Culver

In [ ]:
df_culver.head(5)

In [ ]:
df_culver.columns

In [ ]:
df_culver = df_culver[['Business DBA', 'Business Type', 'City', 'State']]
df_culver.head(5)

In [ ]:
df_culver = df_culver.dropna()
df_culver.columns = ['Business Name', 'Industry', 'City', 'State']
df_culver.head(5)

# Chattanooga (drop due to no business type)

In [ ]:
df_chattanooga.head(5)

In [ ]:
df_chattanooga.columns

# Mixed

In [ ]:
df_mixed.head(5)

In [ ]:
df_mixed.columns

In [ ]:
df_mixed['NAICS CATEGORY']

In [ ]:
df_mixed = df_mixed[['LEGAL NAME', 'NAICS CATEGORY', 'MAILING ADDRESS - CITY', 'MAILING ADDRESS - STATE']]
df_mixed.head(5)

In [ ]:
df_mixed = df_mixed.dropna()
df_mixed.columns = ['Business Name', 'Industry', 'City', 'State']
df_mixed.head(5)

# Texas

In [ ]:
df_texas.head(5)

In [ ]:
df_texas.columns

In [ ]:
df_texas = df_texas[['BUSINESS NAME', 'LICENSE TYPE']]
df_texas = df_texas.dropna()

In [ ]:
df_texas['City'] = 'TX'
df_texas['State'] = 'TX'
df_texas.columns = ['Business Name', 'Industry', 'City', 'State']
df_texas.head(5)

# Squamish Canada

In [ ]:
df_squamishCanada.head(5)

In [ ]:
df_squamishCanada = df_squamishCanada[['Business_Name', 'Code']]
df_squamishCanada.head(5)

In [ ]:
df_squamishCanada['City'] = 'Squamish'
df_squamishCanada['State'] = 'Canada'
df_squamishCanada.columns = ['Business Name', 'Industry', 'City', 'State']
df_squamishCanada.head(5)

# NewYork

In [ ]:
df_NY.head(5)

In [ ]:
df_NY.columns

In [ ]:
df_NY = df_NY[df_NY['License Status'] != 'Inactive']

In [ ]:
df_NY = df_NY[['Business Name', 'Industry', 'Address City', 'Address State']]
df_NY.head()

In [ ]:
df_NY.columns = ['Business Name', 'Industry', 'City', 'State']
df_NY.head(5)

# Delware

In [ ]:
df_delaware.head()

In [ ]:
df_delaware = df_delaware[['Business name', 'Business Activity', 'City', 'State']]
df_delaware.head()

In [ ]:
df_delaware.columns = ['Business Name', 'Industry', 'City', 'State']
df_delaware.head(5)

# Berkeley

In [ ]:
df_berkeley.head()

In [ ]:
df_berkeley.columns

In [ ]:
df_berkeley = df_berkeley[['DBA', 'BusDesc', 'B1_CITY', 'B1_STATE']]
df_berkeley.head()

In [ ]:
df_berkeley = df_berkeley.dropna()
df_berkeley.columns = ['Business Name', 'Industry', 'City', 'State']
df_berkeley.head(5)

# Canada Companies

In [ ]:
df_Canada.head(5)

In [ ]:
df_Canada.columns

In [ ]:
df_Canada = df_Canada[['Name', 'Sector', 'HQ\nLocation', 'HQ\nRegion']]
df_Canada.head()

In [ ]:
df_Canada.columns = ['Business Name', 'Industry', 'City', 'State']
df_Canada.head()

# S&P 500

In [ ]:
df_sp500.head(5)

In [ ]:
df_sp500 = df_sp500[['Name', 'Sector']]
df_sp500.head(5)

In [ ]:
df_sp500['City'] = 'N/A'
df_sp500['State'] = 'USA'
df_sp500.columns = ['Business Name', 'Industry', 'City', 'State']
df_sp500.head(5)

# Nasdaq

In [ ]:
df_nasdaq.head(5)

In [ ]:
df_nasdaq = df_nasdaq[['Name', 'industry']]
df_nasdaq.head()

In [ ]:
df_nasdaq['City'] = 'N/A'
df_nasdaq['State'] = 'USA'
df_nasdaq.columns = ['Business Name', 'Industry', 'City', 'State']
df_nasdaq.head(5)

# UK

In [ ]:
df_UK.head()

In [ ]:
df_UK = df_UK[['Company Name', 'ICB Super-Sector']]
df_UK.head()

In [ ]:
df_UK['City'] = 'N/A'
df_UK['State'] = 'UK'
df_UK.columns = ['Business Name', 'Industry', 'City', 'State']
df_UK.head(5)

# Concat to one

In [ ]:
frames = [df_sp500, df_Canada, df_UK, df_nasdaq, df_sacramento,df_washington,df_virginia,df_seattle,df_santamonica,df_SF, df_SD, df_providence, df_LA, df_kansas,df_johnscreek, df_culver,df_mixed, df_texas, df_squamishCanada,df_NY, df_berkeley, df_delaware ]
result = pd.concat(frames)

In [ ]:
result.head()

In [ ]:
result.describe()

In [ ]:
result.to_csv("dataXData.csv")

In [ ]:
type(result['Business Name'])