In [219]:
import pandas as pd
import numpy as np

In [220]:
import csv

path =  'UK.csv'

with open(path, 'r', encoding='utf-8', errors='ignore') as infile, open(path + 'UK_out.csv', 'w') as outfile:
     inputs = csv.reader(infile)
     outputs = csv.writer(outfile)

     for index, row in enumerate(inputs):
         outputs.writerow(row)

In [221]:
df_sacramento = pd.read_csv("Business_Operation_Tax_Information.csv")
df_washington = pd.read_csv("Certified_Business_Enterprise.csv")
df_virginia = pd.read_csv("Business_Licenses (1).csv")
df_seattle = pd.read_csv("2011_Active_Business_License_Data.csv")
df_santamonica = pd.read_csv("Active_Business_Licenses.csv")
df_SF = pd.read_csv("Registered_Business_Locations_-_San_Francisco.csv")
df_SD2 = pd.read_csv("tr_active2.csv")
df_SD1 = pd.read_csv("tr_active1.csv")
df_saltlake = pd.read_csv("Salt_Lake_City_-_Business_Licenses.csv")
df_providence = pd.read_csv("Active_Business_Licenses_in_Providence.csv")
df_LA = pd.read_csv("Listing_of_Active_Businesses.csv")
df_kansas = pd.read_csv("Business_License_Holders.csv")
df_johnscreek = pd.read_csv("Business_Locations.csv")
df_hartford = pd.read_csv("City_of_Hartford_Business_Listing.csv")
df_culver = pd.read_csv("City_Business_-_Businesses_In_Culver_City.csv")
df_chattanooga = pd.read_csv("Business_License.csv")
df_mixed = pd.read_csv("Businesses_Registered_with_EBR_Parish.csv")
df_texas = pd.read_csv("TDLR_-_All_Licenses.csv")
df_squamishCanada = pd.read_csv("Business_Licence (1).csv")
df_NY = pd.read_csv("NewYork_Legally_Operating_Businesses.csv")
df_delaware = pd.read_csv("Delaware_Business_Licenses.csv")
df_berkeley = pd.read_csv("Berkeley_Business_Licenses.csv")
df_Canada = pd.read_csv("CanadaCompaniesV3.csv")
df_sp500 = pd.read_csv("s&p500.csv")
df_nasdaq = pd.read_csv("nasdaq.csv")
df_UK = pd.read_csv("ukOut.csv")

C:\Users\Jinwoo Hong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Jinwoo Hong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,8,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Jinwoo Hong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Jinwoo Hong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Sacramento

In [222]:
df_sacramento.head(10)

,OBJECTID,Account_Number,Business_Name,Business_Description,Application_Date,Business_Start_Date,Business_Close_Date,Current_License_Status,Location_Street_Number,Location_Direction,...,Mail_Street_name,Mail_Street_Direction1,Mail_Unit,Mail_City,Mail_State,Mail_Zip_code,Primary_Phone_number,Principal_Owner_First_name,Principal_Owner_Last_Name,BIA_Area
0,3001,1002942,EFUNDRAISING CONNECTIONS,ONLINE FUNDRAISING,2018-01-17T08:00:00.000Z,2010-01-01T08:00:00.000Z,NaN,License Renewed,2831,NaN,...,G,ST,110,SACRAMENTO,CA,958163783,9162650200,CAPITOL TECH,SOLUTIONS,NaN
1,3002,1002943,VOTER CONNECTIONS,POLITICAL TECHNICAL SOLUTIONS,2016-02-18T08:00:00.000Z,2010-01-01T08:00:00.000Z,2017-01-01T08:00:00.000Z,License Cancelled,2831,NaN,...,G,ST,110,SACRAMENTO,CA,958163783,9162650200,CAPITOL TECH,SOLUTIONS,NaN
2,3003,1002944,ARZAK-ANA METRO PCS,CELL PHONE SALES,2010-01-21T08:00:00.000Z,2010-01-01T08:00:00.000Z,2011-02-16T08:00:00.000Z,License Cancelled,374,NaN,...,FAIR OAKS,BLVD,NaN,SACRAMENTO,CA,958257685,9163957875,MOHAMMED,ABOU-HANTASH,NaN
3,3004,1002945,ARZAK-ANA METRO PCS,CELL PHONE SALES,2010-01-21T08:00:00.000Z,2010-01-01T08:00:00.000Z,2011-02-16T08:00:00.000Z,License Cancelled,724,NaN,...,FAIR OAKS,BLVD,NaN,SACRAMENTO,CA,958143403,9164483530,MOHAMMED,ABOU-HANTASH,NaN
4,3005,1002946,ARZAK-ANA METRO PCS,CELL PHONE SALES,2010-01-21T08:00:00.000Z,2010-01-01T08:00:00.000Z,2011-02-16T08:00:00.000Z,License Cancelled,3291,NaN,...,FAIR OAKS,BLVD,NaN,SACRAMENTO,CA,958257685,9169232355,MOHAMMED,ABOU-HANTASH,NaN
5,3006,1002947,TAX-XPRESS,INCOME TAX PREPARATION,2018-01-08T08:00:00.000Z,2010-01-01T08:00:00.000Z,NaN,License Renewed,1712,NaN,...,ELK GROVE,BLVD,STE A,ELK GROVE,CA,956241877,9164416748,LESLIE,BIRD,NaN
6,3007,1002948,"D.R.E.A.M. MEDIA GROUP, LLC",GRAPHIC DESIGN AND MEDIA,2010-01-21T08:00:00.000Z,2010-01-25T08:00:00.000Z,2011-03-07T08:00:00.000Z,License Cancelled,490,NaN,...,FORD,RD,NaN,SACRAMENTO,CA,958384247,9162160812,DAYANAND,SELVARAJ,NaN
7,3008,1002949,CDM CONSTRUCTION,CONSTRUCTION,2010-01-22T08:00:00.000Z,2010-01-01T08:00:00.000Z,NaN,License Expired,900,NaN,...,VALLEY VIEW,CIR,NaN,LINCOLN,CA,956489480,9164168381,NATHAN,PEACH,NaN
8,3009,100295,ALL IN YOUR MIND DESIGNS,SEWING,2008-07-01T07:00:00.000Z,1996-07-01T07:00:00.000Z,NaN,License Expired,8206,NaN,...,LA ALMENDRA,WAY,NaN,SACRAMENTO,CA,95823,9164284128,LESSIE,MONTGOMERY,NaN
9,3010,1002950,SILVA'S LAWN MAINTENACE,LAWN SERVICE,2010-01-22T08:00:00.000Z,2010-01-22T08:00:00.000Z,2011-03-04T08:00:00.000Z,License Cancelled,857,NaN,...,OXFORD,CT,NaN,YUBA CITY,CA,959913479,9162300469,JULIO,SILVA,NaN

In [223]:
df_sacramento.columns

Index(['OBJECTID', 'Account_Number', 'Business_Name', 'Business_Description',
       'Application_Date', 'Business_Start_Date', 'Business_Close_Date',
       'Current_License_Status', 'Location_Street_Number',
       'Location_Direction', 'Location_Street_Name', 'Location_Street_Type',
       'Location_Unit', 'Location_City', 'Location_State', 'Location_Zip_code',
       'Mail_Street_Number', 'Mail_Street_Direction', 'Mail_Street_name',
       'Mail_Street_Direction1', 'Mail_Unit', 'Mail_City', 'Mail_State',
       'Mail_Zip_code', 'Primary_Phone_number', 'Principal_Owner_First_name',
       'Principal_Owner_Last_Name', 'BIA_Area'],
      dtype='object')

In [224]:
df_sacramento = df_sacramento[df_sacramento['Current_License_Status'] != 'License Cancelled']
df_sacramento = df_sacramento[df_sacramento['Current_License_Status'] != 'License Expired']

In [225]:
df_sacramento = df_sacramento[['Business_Name', 'Business_Description', 'Location_City', 'Location_State']]
df_sacramento.head(5)

,Business_Name,Business_Description,Location_City,Location_State
0,EFUNDRAISING CONNECTIONS,ONLINE FUNDRAISING,SACRAMENTO,CA
5,TAX-XPRESS,INCOME TAX PREPARATION,SACRAMENTO,CA
15,"IVERIFY.US, INC.","COMMERCIAL ALARM SALES,SVC,INSTALL & MONITORING",CHARLOTTE,NC
24,ZEBRA JEWELRY,CUSTOM DESIGNED JEWELRY MAKING,SACRAMENTO,CA
34,"VALLIS ENTERPRISES, INC",GENERAL CONTRACTOR,SACRAMENTO,CA

In [226]:
df_sacramento = df_sacramento.dropna()
df_sacramento['Business_Description'].unique()

array(['ONLINE FUNDRAISING', 'INCOME TAX PREPARATION',
       'COMMERCIAL ALARM SALES,SVC,INSTALL & MONITORING', ...,
       'TAXI DRIVER/ CA CO OP', 'MEDICAL TRANSPORT', 'SELF-SERVE YOGURT'],
      dtype=object)

In [227]:
df_sacramento.columns = ['Business Name', 'Industry', 'City', 'State']
df_sacramento.head(5)

,Business Name,Industry,City,State
0,EFUNDRAISING CONNECTIONS,ONLINE FUNDRAISING,SACRAMENTO,CA
5,TAX-XPRESS,INCOME TAX PREPARATION,SACRAMENTO,CA
15,"IVERIFY.US, INC.","COMMERCIAL ALARM SALES,SVC,INSTALL & MONITORING",CHARLOTTE,NC
24,ZEBRA JEWELRY,CUSTOM DESIGNED JEWELRY MAKING,SACRAMENTO,CA
34,"VALLIS ENTERPRISES, INC",GENERAL CONTRACTOR,SACRAMENTO,CA

# Washington

In [228]:
df_washington.head(5)

,OBJECTID,BUSINESSNAME,PRINCIPALOWNER,EXPIRATIONDATE,GIS_LAST_MOD_DTTM,WEBSITE,WARD,STARTDATE,PROPOSALPOINTS,PHONE,...,BUSINESSDESC,BIDPRICEREDUCTION,ADDRESS,SBE,CATEGORIES,MAR_ID,XCOORD,YCOORD,LATITUDE,LONGITUDE
0,1,U Street Cleaning Services,Yoseif Aradom,2020-02-07T00:00:00.000Z,2018-11-16T05:02:28.000Z,www.ustreetcleaningservices.com,5.0,2017-01-09T00:00:00.000Z,12,2028002672,...,"U Street Cleaning Services, is a commercial cl...",NaN,2615 EVARTS STREET NE Washington DC 20018,True,Local Business Enterprise (LBE);Disadvantaged ...,45708.0,402688.56,139579.74,38.924088,-76.968995
1,2,Veterans Environmental Technologies Inc.,Jeffre Powell,2021-05-14T00:00:00.000Z,2018-11-16T05:02:28.000Z,www.veteransets.com,4.0,2018-05-14T00:00:00.000Z,7,2023594540,...,Provide environmental inspections to property ...,NaN,6234 GEORGIA AVENUE NW Washington DC 20011,True,Local Business Enterprise (LBE);Veteran Owned ...,253202.0,397581.74,144230.27,38.965982,-77.027904
2,3,Veterans Services Corporation dba Vital Servic...,Barbara Bailey;Emmanuel Bailey;Vernon Bailey,2021-05-30T00:00:00.000Z,2018-11-16T05:02:28.000Z,www.veteransservcorp.com,6.0,2018-05-30T00:00:00.000Z,12,2025779702,...,"Veterans Services Corporation (VSC), is a prof...",0.12,55 M STREET SE WASHINGTON DC 20003,True,Local Business Enterprise (LBE);Disadvantaged ...,306664.0,399393.47,134269.52,38.876256,-77.006990
3,4,VIKA Capitol,Harry Jenkins;Michael Benton;Robert Cochran;Jo...,2019-12-21T00:00:00.000Z,2018-11-16T05:02:28.000Z,www.vikacapitol.com,3.0,2016-11-30T00:00:00.000Z,5,2022444140,...,VIKA Capitol offers the following land develop...,NaN,4910 MASSACHUSETTS AVENUE NW WASHINGTON DC 20016,True,Local Business Enterprise (LBE);Small Business...,269771.0,391522.45,142024.32,38.946073,-77.097794
4,5,Vire Consulting,Cristobal Rodriguez,2021-09-27T00:00:00.000Z,2018-11-16T05:02:28.000Z,www.vireconsulting.com,4.0,2018-09-27T00:00:00.000Z,12,2025064606,...,We sell IT consulting services and IT products...,0.12,1612 K STREET NW WASHINGTON DC 20006,True,Local Business Enterprise (LBE);Disadvantaged ...,279258.0,396744.80,137148.37,38.902184,-77.037528

In [229]:
df_washington.columns

Index(['OBJECTID', 'BUSINESSNAME', 'PRINCIPALOWNER', 'EXPIRATIONDATE',
       'GIS_LAST_MOD_DTTM', 'WEBSITE', 'WARD', 'STARTDATE', 'PROPOSALPOINTS',
       'PHONE', 'OTHERCERTIFICATIONS', 'ORGANIZATIONTYPE', 'FAX', 'EMAIL',
       'DATEESTABLISHED', 'CONTACTNAME', 'CERTIFICATIONNUMBER', 'BUSINESSDESC',
       'BIDPRICEREDUCTION', 'ADDRESS', 'SBE', 'CATEGORIES', 'MAR_ID', 'XCOORD',
       'YCOORD', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [230]:
df_washington = df_washington[['BUSINESSNAME', 'BUSINESSDESC']]

In [231]:
df_washington = df_washington.dropna()
df_washington['City'] = 'Washington D.C'
df_washington['State'] = 'Washington D.C'
df_washington.columns = ['Business Name', 'Industry', 'City', 'State']

In [232]:
df_washington.head(5)

,Business Name,Industry,City,State
0,U Street Cleaning Services,"U Street Cleaning Services, is a commercial cl...",Washington D.C,Washington D.C
1,Veterans Environmental Technologies Inc.,Provide environmental inspections to property ...,Washington D.C,Washington D.C
2,Veterans Services Corporation dba Vital Servic...,"Veterans Services Corporation (VSC), is a prof...",Washington D.C,Washington D.C
3,VIKA Capitol,VIKA Capitol offers the following land develop...,Washington D.C,Washington D.C
4,Vire Consulting,We sell IT consulting services and IT products...,Washington D.C,Washington D.C

# Virginia

In [233]:
df_virginia.head(5)

,ID,Date License Issued,Owner Name of Business,Trade Name of Business,Business Zip+4,Business Phone Number,Mailing Address,Mailing City,Mailing State,Mailing Zip Code,Mailing Zip+4,NAICS,Business Classification,New Georeferenced Column
0,2197,08/01/2018,ALP SOLUTIONS LLC,ALP SOLUTIONS LLC,4595,(201) 889-5112,216 KASHMIR AVE #203,VIRGINIA BEACH,VA,23462,3462,4700,TRANS/ARRANGE,"216 KASHMIR AVENUE #203\nVIRGINIA BEACH, VA 23..."
1,2197,08/01/2018,ALP SOLUTIONS LLC,ALP SOLUTIONS LLC,4595,(201) 889-5112,216 KASHMIR AVE #203,VIRGINIA BEACH,VA,23462,3462,7200,PERSONAL SERVICE,"216 KASHMIR AVENUE #203\nVIRGINIA BEACH, VA 23..."
2,1366,04/06/2018,KOINER JHALIL HALEM,CTY MVR ENT,0,(201) 895-8193,772 BILTMORE DRIVE,VIRGINIA BEACH,VA,23454,3454,7900,AMUSEMENT/RECREATION,"772 BILTMORE DRIVE\nVIRGINIA BEACH, VA 23454\n..."
3,1896,06/08/2018,5PICE LLC,CAPITAL CREPE,0,(202) 390-2286,1949 LYNNHAVEN PKWY #1560,VIRGINIA BEACH,VA,23452,3452,5812,RETAIL RESTAURANT,"1949 LYNNHAVEN PKWY #1560\nVIRGINIA BEACH, VA ..."
4,1207,04/07/2018,BEAL LINDA CHRISTINE,LINDA CHRISTINE BEAL,5712,(202) 528-0502,1075 KENYA LANE,VIRGINIA BEACH,VA,23451,3451,7021,LODGING HOUSE,"1075 KENYA LANE\nVIRGINIA BEACH, VA 23451\n(36..."

In [234]:
df_virginia.columns

Index(['ID', 'Date License Issued', 'Owner Name of Business',
       'Trade Name of Business ', 'Business Zip+4', 'Business Phone Number ',
       'Mailing Address ', 'Mailing City', 'Mailing State', 'Mailing Zip Code',
       'Mailing Zip+4', 'NAICS', 'Business Classification ',
       'New Georeferenced Column'],
      dtype='object')

In [235]:
df_virginia = df_virginia[['Owner Name of Business','Business Classification ','Mailing City', 'Mailing State']]

In [236]:
df_virginia = df_virginia.dropna()
df_virginia.columns = ['Business Name', 'Industry', 'City', 'State']

In [237]:
df_virginia.head(5)

          Business Name              Industry            City State
0     ALP SOLUTIONS LLC         TRANS/ARRANGE  VIRGINIA BEACH    VA
1     ALP SOLUTIONS LLC      PERSONAL SERVICE  VIRGINIA BEACH    VA
2   KOINER JHALIL HALEM  AMUSEMENT/RECREATION  VIRGINIA BEACH    VA
3             5PICE LLC     RETAIL RESTAURANT  VIRGINIA BEACH    VA
4  BEAL LINDA CHRISTINE         LODGING HOUSE  VIRGINIA BEACH    VA

# Seattle

In [238]:
df_seattle.head(5)

,Business Legal Name,Ownership Type,Trade Name,NAICS Code,NAICS Description,License Start Date,"City, State, Zip"
0,FATUR ELIZABETH,Sole Proprietor,WHOLESOULART,454,Nonstore Retailers,02/01/2010 08:00:00 AM,"SEATTLE, WA 98178"
1,MARK A BROWN PS,Corporation,MARK A BROWN P.S.,541110,Offices of Lawyers,01/01/2009 08:00:00 AM,"SEATTLE, WA 98101"
2,VMC LLC,Corporation,CHARLIE'S DOG HOUSE,722330,Mobile Food Services,05/15/2010 07:00:00 AM,"SEATTLE, WA 98106"
3,GOBEZE ZERADAWIT G,Sole Proprietor,ZERADAWIT GOBEZE,485310,Taxi Service,05/11/2010 07:00:00 AM,"SEA TAC, WA 98188"
4,NOLAN PRIOR LLC,LLC*Limited Liability Co,NOLAN PRIOR LLC,525930,NaN,05/01/2010 07:00:00 AM,"SEATTLE, WA 98136-1872"

In [239]:
df_seattle.columns

Index(['Business Legal Name', 'Ownership Type', 'Trade Name', 'NAICS Code',
       'NAICS Description', 'License Start Date', 'City, State, Zip'],
      dtype='object')

In [240]:
df_seattle = df_seattle[['Business Legal Name', 'NAICS Description']]

In [241]:
df_seattle = df_seattle.dropna()
df_seattle['City'] = 'Seatle'
df_seattle['State'] = 'WA'
df_seattle.columns = ['Business Name', 'Industry', 'City', 'State']

In [242]:
df_seattle.head(5)

        Business Name              Industry    City State
0     FATUR ELIZABETH    Nonstore Retailers  Seatle    WA
1     MARK A BROWN PS    Offices of Lawyers  Seatle    WA
2             VMC LLC  Mobile Food Services  Seatle    WA
3  GOBEZE ZERADAWIT G          Taxi Service  Seatle    WA
5     SINGH PAWANDEEP          Taxi Service  Seatle    WA

# Santamonica

In [243]:
df_santamonica.head(5)

,License Number,DBA,Address,City,State,Zip Code,Business Type,Business Status ID,Business Status,License Status ID,License Status,Internet Opt Out,Expired,Map Point
0,71069,Lincoln Chevron,1732 LINCOLN BLVD,SANTA MONICA,CA,90404,Gas Station,2,Active,26,None,NaN,NaN,"1732 LINCOLN BLVD\nSANTA MONICA, CA 90404-4306..."
1,159458,Sunset Plaza Liquor & Jr Market,2602 PICO BLVD,SANTA MONICA,CA,90405,Liquor Store,2,Active,26,None,NaN,NaN,"2602 PICO BLVD\nSANTA MONICA, CA 90405-1916\n(..."
2,161090,Bristol Farms,3105 WILSHIRE BLVD,SANTA MONICA,CA,90403,"Grocery, Food Products",2,Active,26,None,NaN,NaN,"3105 WILSHIRE BLVD\nSANTA MONICA, CA 90403-230..."
3,1977,J D F PROPERTIES LLC,630 SAN VICENTE BLVD,SANTA MONICA,CA,90402,Rental Of Residential Units,2,Active,26,None,NaN,NaN,"630 SAN VICENTE BLVD\nSANTA MONICA, CA 90402-1..."
4,2166,Carpetcraft Inc,2318 PONTIUS AVE,LOS ANGELES,CA,90064,Floor Contractor,2,Active,26,None,NaN,NaN,"2318 PONTIUS AVE\nLOS ANGELES, CA 90064-1810\n..."

In [244]:
df_santamonica.columns

Index(['License Number', 'DBA', 'Address', 'City', 'State', 'Zip Code',
       'Business Type', 'Business Status ID', 'Business Status',
       'License Status ID', 'License Status', 'Internet Opt Out', 'Expired',
       'Map Point'],
      dtype='object')

In [245]:
df_santamonica = df_santamonica[['DBA', 'Business Type', 'City', 'State']]
df_santamonica.head(5)

,DBA,Business Type,City,State
0,Lincoln Chevron,Gas Station,SANTA MONICA,CA
1,Sunset Plaza Liquor & Jr Market,Liquor Store,SANTA MONICA,CA
2,Bristol Farms,"Grocery, Food Products",SANTA MONICA,CA
3,J D F PROPERTIES LLC,Rental Of Residential Units,SANTA MONICA,CA
4,Carpetcraft Inc,Floor Contractor,LOS ANGELES,CA

In [246]:
df_santamonica = df_santamonica.dropna()
df_santamonica.columns = ['Business Name', 'Industry', 'City', 'State']

In [247]:
df_santamonica.head(5)

,Business Name,Industry,City,State
0,Lincoln Chevron,Gas Station,SANTA MONICA,CA
1,Sunset Plaza Liquor & Jr Market,Liquor Store,SANTA MONICA,CA
2,Bristol Farms,"Grocery, Food Products",SANTA MONICA,CA
3,J D F PROPERTIES LLC,Rental Of Residential Units,SANTA MONICA,CA
4,Carpetcraft Inc,Floor Contractor,LOS ANGELES,CA

# SF

In [248]:
df_SF.head(5)

,Location Id,Business Account Number,Ownership Name,DBA Name,Street Address,City,State,Source Zipcode,Business Start Date,Business End Date,...,NAICS Code,NAICS Code Description,Parking Tax,Transient Occupancy Tax,LIC Code,LIC Code Description,Supervisor District,Neighborhoods - Analysis Boundaries,Business Corridor,Business Location
0,0183880-01-001,183880,Chaname Miriam,Chaname Miriam,3186 23rd St,San Francisco,CA,94110.0,01/01/1989,NaN,...,8100-8139,Certain Services,False,False,NaN,NaN,9.0,Mission,NaN,"3186 23RD ST\nSan Francisco, CA 94110\n(37.753..."
1,0206570-03-999,206570,Tower Jonathan Todd,Jonathan Tower Construction,6519 Eureka Ave,El+cerrito,CA,94530.0,07/13/2011,04/19/2017,...,2300-2399,Construction,False,False,NaN,NaN,NaN,NaN,NaN,"6519 EUREKA AVE\nEL CERRITO, CA 94530\n(37.906..."
2,0302158-01-001,302158,Hanke Milo F,Milo F Hanke,100 Bush St 1675,San Francisco,CA,94104.0,01/01/1997,08/16/2016,...,5210-5239,Financial Services,False,False,NaN,NaN,3.0,Financial District/South Beach,NaN,"100 BUSH ST\nSan Francisco, CA 94104\n(37.7912..."
3,0302158-02-001,302158,Hanke Milo F,Hanke & Co,100 Bush St #1675,San+francisco,CA,94104.0,01/01/1997,08/16/2016,...,5210-5239,Financial Services,False,False,NaN,NaN,NaN,NaN,NaN,"100 BUSH ST\nSan Francisco, CA 94104\n(37.7912..."
4,0314076-01-001,314076,Moore Mary J,Mary Moore Consulting,210 Chattanooga St,San Francisco,CA,94114.0,02/01/1998,05/17/2017,...,5400-5499,"Professional, Scientific, and Technical Services",False,False,NaN,NaN,8.0,Noe Valley,NaN,"210 CHATTANOOGA ST\nSan Francisco, CA 94114\n(..."

In [249]:
df_SF.columns

Index(['Location Id', 'Business Account Number', 'Ownership Name', 'DBA Name',
       'Street Address', 'City', 'State', 'Source Zipcode',
       'Business Start Date', 'Business End Date', 'Location Start Date',
       'Location End Date', 'Mail Address', 'Mail City', 'Mail Zipcode',
       'Mail State', 'NAICS Code', 'NAICS Code Description', 'Parking Tax',
       'Transient Occupancy Tax', 'LIC Code', 'LIC Code Description',
       'Supervisor District', 'Neighborhoods - Analysis Boundaries',
       'Business Corridor', 'Business Location'],
      dtype='object')

In [250]:
df_SF = df_SF[['DBA Name', 'NAICS Code Description', 'City', 'State']]
df_SF.head(5)

,DBA Name,NAICS Code Description,City,State
0,Chaname Miriam,Certain Services,San Francisco,CA
1,Jonathan Tower Construction,Construction,El+cerrito,CA
2,Milo F Hanke,Financial Services,San Francisco,CA
3,Hanke & Co,Financial Services,San+francisco,CA
4,Mary Moore Consulting,"Professional, Scientific, and Technical Services",San Francisco,CA

In [251]:
df_SF = df_SF.dropna()
df_SF.columns = ['Business Name', 'Industry', 'City', 'State']

In [252]:
df_SF.head(5)

,Business Name,Industry,City,State
0,Chaname Miriam,Certain Services,San Francisco,CA
1,Jonathan Tower Construction,Construction,El+cerrito,CA
2,Milo F Hanke,Financial Services,San Francisco,CA
3,Hanke & Co,Financial Services,San+francisco,CA
4,Mary Moore Consulting,"Professional, Scientific, and Technical Services",San Francisco,CA

# San Diego

In [253]:
df_SD1.head(5)

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC
0,2015046247,& SALLY J FERNANDEZ,SOLE,17471 PLAZA CERADO SUITE 98,SAN DIEGO,92128-2285,CA,NaN,JAIME V FERNANDEZ,10/29/2015,01/01/2014,12/31/2018,541219,OTHER ACCOUNTING SERVICES
1,2018011836,(W)RIGHT ON COMMUNICATIONS INC,SCORP,1200 PROSPECT ST SUITE G100,LA JOLLA,92037-3608,CA,(858) 866-7900,(W)RIGHT ON COMMUNICATIONS INC,06/22/2018,06/01/2018,05/31/2019,54182,PUBLIC RELATIONS AGENCIES
2,2007016185,+A PARTNERS,CORP,3916 NORMAL ST,SAN DIEGO,92103-3413,CA,(619) 294-4477,+A PARTNERS,07/11/2007,07/01/2004,06/30/2019,531,REAL ESTATE
3,2016006657,1 800 ANYTIME PLUMBING HEATING & AIR,SCORP,1064 LA MIRADA CT,VISTA,92081-7874,CA,(800) 269-8963,MANZANITA EQUITY INC,05/24/2016,05/01/2016,04/30/2019,23511,"PLUMBING, HEATING & AC CONTRACTOR"
4,2013047218,1 AMERICAN LIVESCAN,CORP,3690 MURPHY CANYON RD SUITE 102,SAN DIEGO,92123-4455,CA,(858) 874-3119,STONECREST GAS & WASH INC,04/30/2013,01/01/2012,12/31/2018,561611,INVESTIGATION SERVICES

In [254]:
df_SD2.head(5)

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC
0,2004004413,L & A TAILORING,SOLE,2917 UNIVERSITY AVE,SAN DIEGO,92104-2901,CA,(619) 299-7326,DUONG TRAN,03/30/2004,03/30/2004,03/31/2019,81299,ALL OTHER PERSONAL SERVICES
1,1997003645,L & B EXPERT CLEANING SERVICE,SOLE,847 KEMPTON ST,SPRING VALLEY,91977-4948,CA,(619) 469-2507,HERNANDEZ LUCY S,04/02/1997,04/01/1997,03/31/2019,56172,JANITORIAL SERVICES
2,1996010172,L & C FOOD DISTRIBUTION INC,CORP,8724 APPROACH RD,SAN DIEGO,92154-7709,CA,NaN,L & C FOOD DISTRIBUTION INC,09/26/1996,10/01/1996,09/30/2019,422,"WHOLESALE TRADE, NONDURABLE GOODS"
3,2018002842,L & F GROUP IMPORT AND EXPORT LLC,LLC,9475 NICOLA TESLA CT SUITE M,SAN DIEGO,92154-7613,CA,(619) 723-3632,L & F GROUP IMPORT AND EXPORT LLC,02/27/2018,03/01/2018,02/28/2019,421,"WHOLESALE TRADE, DURABLE GOODS"
4,1993007608,L & G PARTNERS,PARTNR,16215 KITTRIDGE ST,VAN NUYS,91406,CA,(818) 787-1400,GOODMAN/LAINER /LAINER,08/25/1993,08/20/1993,08/31/2019,233,"BUILDING, DEVELOPING & GENERAL CONTRACTING"

In [255]:
df_SD = pd.concat([df_SD1, df_SD2])
df_SD.head(5)

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC
0,2015046247,& SALLY J FERNANDEZ,SOLE,17471 PLAZA CERADO SUITE 98,SAN DIEGO,92128-2285,CA,NaN,JAIME V FERNANDEZ,10/29/2015,01/01/2014,12/31/2018,541219,OTHER ACCOUNTING SERVICES
1,2018011836,(W)RIGHT ON COMMUNICATIONS INC,SCORP,1200 PROSPECT ST SUITE G100,LA JOLLA,92037-3608,CA,(858) 866-7900,(W)RIGHT ON COMMUNICATIONS INC,06/22/2018,06/01/2018,05/31/2019,54182,PUBLIC RELATIONS AGENCIES
2,2007016185,+A PARTNERS,CORP,3916 NORMAL ST,SAN DIEGO,92103-3413,CA,(619) 294-4477,+A PARTNERS,07/11/2007,07/01/2004,06/30/2019,531,REAL ESTATE
3,2016006657,1 800 ANYTIME PLUMBING HEATING & AIR,SCORP,1064 LA MIRADA CT,VISTA,92081-7874,CA,(800) 269-8963,MANZANITA EQUITY INC,05/24/2016,05/01/2016,04/30/2019,23511,"PLUMBING, HEATING & AC CONTRACTOR"
4,2013047218,1 AMERICAN LIVESCAN,CORP,3690 MURPHY CANYON RD SUITE 102,SAN DIEGO,92123-4455,CA,(858) 874-3119,STONECREST GAS & WASH INC,04/30/2013,01/01/2012,12/31/2018,561611,INVESTIGATION SERVICES

In [256]:
df_SD.columns

Index(['BUSINESS ACCT#', 'DBA NAME', 'OWNERSHIP TYPE', 'ADDRESS', 'CITY',
       'ZIP', 'STATE', 'BUSINESS PHONE', 'OWNER NAME', 'CREATION DT',
       'START DT', 'EXP DT', 'NAICS', 'ACTIVITY DESC'],
      dtype='object')

In [257]:
df_SD = df_SD[['DBA NAME', 'ACTIVITY DESC', 'CITY', 'STATE']]
df_SD.head(5)

,DBA NAME,ACTIVITY DESC,CITY,STATE
0,& SALLY J FERNANDEZ,OTHER ACCOUNTING SERVICES,SAN DIEGO,CA
1,(W)RIGHT ON COMMUNICATIONS INC,PUBLIC RELATIONS AGENCIES,LA JOLLA,CA
2,+A PARTNERS,REAL ESTATE,SAN DIEGO,CA
3,1 800 ANYTIME PLUMBING HEATING & AIR,"PLUMBING, HEATING & AC CONTRACTOR",VISTA,CA
4,1 AMERICAN LIVESCAN,INVESTIGATION SERVICES,SAN DIEGO,CA

In [258]:
df_SD = df_SD.dropna()
df_SD.columns = ['Business Name', 'Industry', 'City', 'State']
df_SD.head(5)

,Business Name,Industry,City,State
0,& SALLY J FERNANDEZ,OTHER ACCOUNTING SERVICES,SAN DIEGO,CA
1,(W)RIGHT ON COMMUNICATIONS INC,PUBLIC RELATIONS AGENCIES,LA JOLLA,CA
2,+A PARTNERS,REAL ESTATE,SAN DIEGO,CA
3,1 800 ANYTIME PLUMBING HEATING & AIR,"PLUMBING, HEATING & AC CONTRACTOR",VISTA,CA
4,1 AMERICAN LIVESCAN,INVESTIGATION SERVICES,SAN DIEGO,CA

# Salt Lake City (Drop due to no business name)

In [259]:
df_saltlake.head(5)

,PermitNum,Department,ApplicationType,ApplicationSubType,ProjectName,IssuedDate1,WorkDescription,WorkType,ApplicationStatus,ApplicatName,...,StreetSufx,OriginalCity,OriginalState,OriginalZip,Fee,Balance,PAYMENT,PAYSTATUS,PAYDATE,Link
0,LIC2017-00012,BusLic,BusLic,NaN,NaN,01/12/2018 12:00:00 AM,Graphic design services,NaN,Expired,CHARLES WRAY,...,Ave,Salt Lake City,UT,84103,$313.00,$0.00,$0.00,Paid,2017,https://aca.slcgov.com/Citizen/Cap/CapDetail.a...
1,LIC2017-02599,BusLic,BusLic,NaN,NaN,10/10/2017 12:00:00 AM,Offices of Other Health Practitioners,NaN,License Issued,KATHY MITCHELL,...,NaN,Salt Lake City,UT,84102,$189.00,$0.00,$0.00,Paid,2017,https://aca.slcgov.com/Citizen/Cap/CapDetail.a...
2,LIC2016-00288,BusLic,BusLic,NaN,NaN,01/12/2018 12:00:00 AM,Tattoo parlors,NaN,Expired,ALEX HALL,...,St,Salt Lake City,UT,84111,$587.75,$0.00,$0.00,Paid,2016,https://aca.slcgov.com/Citizen/Cap/CapDetail.a...
3,LIC2017-02949,BusLic,BusLic,NaN,NaN,10/09/2017 12:00:00 AM,REGULATORY LICENSE,NaN,License Issued,ANGELA ELSTEIN,...,NaN,Salt Lake City,UT,84101,$261.00,$0.00,$0.00,Paid,2017,https://aca.slcgov.com/Citizen/Cap/CapDetail.a...
4,LIC2016-03542,BusLic,BusLic,NaN,NaN,10/04/2017 12:00:00 AM,Farm product warehousing and storage,NaN,License Issued,CELESTE PORTER,...,NaN,Salt Lake City,UT,84104,$614.00,$0.00,$0.00,Paid,2016,https://aca.slcgov.com/Citizen/Cap/CapDetail.a...

In [260]:
df_saltlake.columns

Index(['PermitNum', 'Department', 'ApplicationType', 'ApplicationSubType',
       'ProjectName', 'IssuedDate1', 'WorkDescription', 'WorkType',
       'ApplicationStatus', 'ApplicatName', 'HouseNbr', 'Location',
       'StreetDir', 'StreetName', 'StreetSufx', 'OriginalCity',
       'OriginalState', 'OriginalZip', 'Fee', 'Balance', 'PAYMENT',
       'PAYSTATUS', 'PAYDATE', 'Link'],
      dtype='object')

# Providence

In [261]:
df_providence.head(5)

,BUS_LIC_ID,LIC_NUMBER,DBA,EXPIRATION_DATE,PERMIT_DATE,LAST_FEE,PRIMARY_LICENSE,PRIMARY_LIC_DESC,PRIMARY_LIC_LEGAL,PRIMARY_LIC_PURPOSE,...,Tavern1,Tavern3,Tobacco,Valet,Yard Sale,LOCATION,ADDRESS,ZipCode,NOTES,Geolocation
0,21777,ET200500501,NaN,07-Oct-2020 00:00:00,07-Oct-2016 00:00:00,10.0,Entertain,Entertainment,Entertainment License,To have entertainment at,...,0.0,0.0,0.0,0.0,0.0,RWP Botanical Center,25 Dorrance St,"DJ on Jun 10, 2017\nbcarvalho - 10/7/2016 10:5...",NaN,NaN
1,21910,SH200500513,Act II,01-May-2019 00:00:00,09-Oct-2018 00:00:00,100.0,SecHandStore,Second Hand Stores,Second-Hand Store License,To buy and sell Second-Hand Goods at,...,0.0,0.0,0.0,0.0,0.0,NaN,802 Hope St,renewal\n - 10/9/2018 1:51:41 PM,NaN,NaN
2,21918,FD200500515,El Rey De Las Pupusas,31-Jan-2019 00:00:00,14-Mar-2018 00:00:00,220.0,FoodDisp,Food Dispenser,Food Dispenser License,To dispense food,...,0.0,0.0,0.0,0.0,0.0,NaN,1019 Chalkstone Ave,Renewal\nbcarvalho - 3/14/2018 1:30:49 PM,NaN,NaN
3,21996,SA200500551,Academy Cars,01-May-2019 00:00:00,22-Jun-2018 00:00:00,100.0,SecHandAut,Dealer in Second Hand Automobile,Dealer in Second-Hand Automobiles,To buy and sell Second-Hand Automobiles at,...,0.0,0.0,0.0,0.0,0.0,NaN,239 Academy Ave,NaN,NaN,NaN
4,22067,JK200500505,OCEAN STATE METALS,01-May-2019 00:00:00,16-Jul-2018 00:00:00,100.0,JunkShop,Junk Shop,Junk Shop License,"To purchase, sell or barter junk and old metal...",...,0.0,0.0,0.0,0.0,0.0,NaN,80 Delaine St,renewal\n - 7/16/2018 3:49:43 PM,NaN,NaN

In [262]:
df_providence.columns

Index(['BUS_LIC_ID', 'LIC_NUMBER', 'DBA', 'EXPIRATION_DATE', 'PERMIT_DATE',
       'LAST_FEE', 'PRIMARY_LICENSE', 'PRIMARY_LIC_DESC', 'PRIMARY_LIC_LEGAL',
       'PRIMARY_LIC_PURPOSE', 'CITY_STATE', 'Amusement Center', 'Bingo',
       'Employment Agency', 'Entertainment', 'Expansion of Premises',
       '1-4 Extended Hours', 'Food Dispenser', 'Frozen Desserts', 'Junk Shop',
       'Laundry/Dry Cleaning', 'Class A Liquor', 'Class B Limited Liquor',
       'Class B Tavern', 'Class BV Food and Liquor',
       'Class C Neighborhood Bar', 'Class D Social Club', 'Class E Pharmacy',
       'Class ED Restaurant in certain areas of the city',
       'Class F One day beer and wine', 'Class J Convention Center',
       'Class RBH Hotel Room', 'BX Rider 2AM Closing', 'EDX Rider 2AM Closing',
       'Class N Night Club', 'Class T Theatre', 'Mechanical Device',
       'Motor Vehicle Repair', 'Parking', 'Pawnbroker', 'RevolSale',
       'Second Hand Auto Sales', 'Second Hand Store', 'Petroleum Storage',
       'Sunday/Holiday Sales', 'Tavern1', 'Tavern3', 'Tobacco', 'Valet',
       'Yard Sale', 'LOCATION', 'ADDRESS', 'ZipCode', 'NOTES', 'Geolocation'],
      dtype='object')

In [263]:
df_providence = df_providence[['DBA', 'PRIMARY_LIC_DESC']]
df_providence.head(5)

                     DBA                  PRIMARY_LIC_DESC
0                    NaN                     Entertainment
1                 Act II                Second Hand Stores
2  El Rey De Las Pupusas                    Food Dispenser
3           Academy Cars  Dealer in Second Hand Automobile
4     OCEAN STATE METALS                         Junk Shop

In [264]:
df_providence = df_providence.dropna()
df_providence['City'] = 'Providence'
df_providence['State'] = 'RI'
df_providence.columns = ['Business Name', 'Industry', 'City', 'State']

In [265]:
df_providence.head(5)

,Business Name,Industry,City,State
1,Act II,Second Hand Stores,Providence,RI
2,El Rey De Las Pupusas,Food Dispenser,Providence,RI
3,Academy Cars,Dealer in Second Hand Automobile,Providence,RI
4,OCEAN STATE METALS,Junk Shop,Providence,RI
5,North American Auto Sales,Dealer in Second Hand Automobile,Providence,RI

# LA

In [266]:
df_LA.head(5)

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION
0,0000000115-0001-3,VINCENZO LABELLA,NaN,521 SWARTHMORE AVENUE,PACIFIC PALISADES,90272-4350,521 SWARTHMORE 90272-4350,521 SWARTHMORE AVENUE,PACIFIC PALISADES,90272-4350,561500.0,Travel arrangement & reservation services,11,01/01/1990,NaN,NaN
1,0000000150-0001-5,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,2015 W TEMPLE STREET,LOS ANGELES,90026-4913,2015 TEMPLE 90026-4913,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",13,01/01/1991,NaN,NaN
2,0000000156-0001-2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,MONEY MANAGEMENT INTERNATIONAL,1605 W OLYMPIC BLVD #9023,LOS ANGELES,90015-3828,1605 OLYMPIC 90015-3828,NaN,NaN,NaN,523900.0,Other financial investment activities (includi...,1,02/01/1999,NaN,NaN
3,0000000247-0001-1,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,3806 W PICO BLVD,LOS ANGELES,90019-4304,3806 PICO 90019-4304,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",10,01/01/1991,NaN,NaN
4,0000000267-0001-9,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,3115 VENICE BLVD,LOS ANGELES,90019-6238,3115 VENICE 90019-6238,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",10,01/01/1991,NaN,NaN

In [267]:
df_LA.columns

Index(['LOCATION ACCOUNT #', 'BUSINESS NAME', 'DBA NAME', 'STREET ADDRESS',
       'CITY', 'ZIP CODE', 'LOCATION DESCRIPTION', 'MAILING ADDRESS',
       'MAILING CITY', 'MAILING ZIP CODE', 'NAICS',
       'PRIMARY NAICS DESCRIPTION', 'COUNCIL DISTRICT', 'LOCATION START DATE',
       'LOCATION END DATE', 'LOCATION'],
      dtype='object')

In [268]:
df_LA = df_LA[['BUSINESS NAME', 'PRIMARY NAICS DESCRIPTION']]

In [269]:
df_LA = df_LA.dropna()
df_LA['City'] = 'Los Angeles'
df_LA['State'] = 'CA'
df_LA.columns = ['Business Name', 'Industry', 'City', 'State']

In [270]:
df_LA.head(5)

,Business Name,Industry,City,State
0,VINCENZO LABELLA,Travel arrangement & reservation services,Los Angeles,CA
1,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,"Educational services (including schools, colle...",Los Angeles,CA
2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,Other financial investment activities (includi...,Los Angeles,CA
3,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,"Educational services (including schools, colle...",Los Angeles,CA
4,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,"Educational services (including schools, colle...",Los Angeles,CA

# Kansas

In [271]:
df_kansas.head(5)

,ID,Business Type,Address,City,State,Zip Code,Business Name,DBA Name,Valid License For
0,775912576,Fitness and Recreational Sports Centers,18 W 63RD ST,KANSAS CITY,MO,64113,EMPOWERED TO CONNECT DBA BARRE3,HARRIS CAROLINE,12/31/2018
1,933166208,Commercial and Institutional Building Construc...,6325 LEWIS DR,PARKVILLE,MO,64152,NaN,LL NORTH LLC,12/31/2018
2,759749760,Commercial and Institutional Building Construc...,1818 NEWTON AVE,KANSAS CITY,MO,64126,NaN,MIKE REYES CONSTRUCTION LLC,12/31/2018
3,736300160,Other Grocery and Related Products Merchant Wh...,1001 E 11TH ST,KANSAS CITY,MO,64106,NaN,NECCO COFFEE CO INC,12/31/2018
4,1349255808,Exam Preparation and Tutoring,3703 NE 95TH ST,KANSAS CITY,MO,64156,THE TUTOR MENTORS LLC,FAWCETT DEREK,12/31/2018

In [272]:
df_kansas.columns

Index(['ID', 'Business Type', 'Address', 'City', 'State', 'Zip Code',
       'Business Name', 'DBA Name', 'Valid License For'],
      dtype='object')

In [273]:
df_kansas = df_kansas[['DBA Name', 'Business Type', 'City', 'State']]

In [274]:
df_kansas = df_kansas.dropna()
df_kansas.columns = ['Business Name', 'Industry', 'City', 'State']

In [275]:
df_kansas.head(5)

,Business Name,Industry,City,State
0,HARRIS CAROLINE,Fitness and Recreational Sports Centers,KANSAS CITY,MO
1,LL NORTH LLC,Commercial and Institutional Building Construc...,PARKVILLE,MO
2,MIKE REYES CONSTRUCTION LLC,Commercial and Institutional Building Construc...,KANSAS CITY,MO
3,NECCO COFFEE CO INC,Other Grocery and Related Products Merchant Wh...,KANSAS CITY,MO
4,FAWCETT DEREK,Exam Preparation and Tutoring,KANSAS CITY,MO

# Johns Creek

In [276]:
df_johnscreek.head(5)

,X,Y,OBJECTID,BusinessName,OwnerCorpName,LocationAddress,Unit,City,State,Zip,...,OpenDateInCity,HomeBasedBusiness,LicenseFiscalYear,LicenseNumber,IssueDate,Expiration,AddressPtID,Directions,MapCategory,MapCategory_Waze
0,-84.185170,34.041301,2001,Medical Fitness & Wellness Group,"New Strength Dynamics, LLC",10700 Medlock Bridge Rd Suite 105,NaN,Johns Creek,GA,30097.0,...,2014-07-01T00:00:00.000Z,N,2018,26696,2018-03-21T00:00:00.000Z,2018-12-31T00:00:00.000Z,AP125427,http://maps.google.com/?daddr=10700 Medlock Br...,Health & Fitness,"GYM_FITNESS,SPORTING_GOODS"
1,-84.185170,34.041301,2002,Meadows Physical Therapy,Manisha Zoher Kapasi,10700 Medlock Bridge Rd Suite 105,NaN,Johns Creek,GA,30097.0,...,2001-03-19T00:00:00.000Z,N,2018,26682,2018-02-28T00:00:00.000Z,2018-12-31T00:00:00.000Z,AP125427,http://maps.google.com/?daddr=10700 Medlock Br...,Medical,HOSPITAL_MEDICAL_CARE
2,-84.171718,34.063777,2003,Pearl Lian Oriental Restaurant,"Pearl Lian, LLC",11600 Medlock Bridge Rd Suite 100,NaN,Johns Creek,GA,30097.0,...,2014-01-01T00:00:00.000Z,N,2018,27975,2018-02-21T00:00:00.000Z,2018-12-31T00:00:00.000Z,AP106435,http://maps.google.com/?daddr=11600 Medlock Br...,Restaurants (Full-Service Dining),"FOOD_AND_DRINK,RESTAURANT"
3,-84.171556,34.064049,2004,The Lash and Brow Loft,"The Lash and Brow Loft Salon, LLC",11600 Medlock Bridge Rd Suite 130,NaN,Johns Creek,GA,30097.0,...,2018-01-04T00:00:00.000Z,N,2018,33390,2018-01-01T00:00:00.000Z,2018-12-31T00:00:00.000Z,AP108366,http://maps.google.com/?daddr=11600 Medlock Br...,Beauty & Spas,PERSONAL_CARE
4,-84.170833,34.061960,2005,Re/Max Center,"Bueno & Finnick, Inc.",11555 Medlock Bridge Rd Suite 190,NaN,Johns Creek,GA,30097.0,...,2009-07-01T00:00:00.000Z,N,2018,28625,2018-03-21T00:00:00.000Z,2018-12-31T00:00:00.000Z,AP127773,http://maps.google.com/?daddr=11555 Medlock Br...,Real Estate,"PROFESSIONAL_AND_PUBLIC,LODGING,OTHER"

In [277]:
df_johnscreek.columns

Index(['X', 'Y', 'OBJECTID', 'BusinessName', 'OwnerCorpName',
       'LocationAddress', 'Unit', 'City', 'State', 'Zip', 'Phone', 'Website',
       'MailingAddress', 'MailingCity', 'MailingState', 'MailingZip', 'NAICS',
       'NAICS2Digit', 'BusinessActDesc', 'OpenDateInCity', 'HomeBasedBusiness',
       'LicenseFiscalYear', 'LicenseNumber', 'IssueDate', 'Expiration',
       'AddressPtID', 'Directions', 'MapCategory', 'MapCategory_Waze'],
      dtype='object')

In [278]:
df_johnscreek = df_johnscreek[['BusinessName', 'MapCategory', 'City', 'State']]
df_johnscreek.head(5)

,BusinessName,MapCategory,City,State
0,Medical Fitness & Wellness Group,Health & Fitness,Johns Creek,GA
1,Meadows Physical Therapy,Medical,Johns Creek,GA
2,Pearl Lian Oriental Restaurant,Restaurants (Full-Service Dining),Johns Creek,GA
3,The Lash and Brow Loft,Beauty & Spas,Johns Creek,GA
4,Re/Max Center,Real Estate,Johns Creek,GA

In [279]:
df_johnscreek = df_johnscreek.dropna()
df_johnscreek.columns = ['Business Name', 'Industry', 'City', 'State']
df_johnscreek.head(5)

,Business Name,Industry,City,State
0,Medical Fitness & Wellness Group,Health & Fitness,Johns Creek,GA
1,Meadows Physical Therapy,Medical,Johns Creek,GA
2,Pearl Lian Oriental Restaurant,Restaurants (Full-Service Dining),Johns Creek,GA
3,The Lash and Brow Loft,Beauty & Spas,Johns Creek,GA
4,Re/Max Center,Real Estate,Johns Creek,GA

# Hartford (drop due to no business type)

In [280]:
df_hartford.head(5)

,Account,Owner,Owner2,DBA,Address,Address2,Location,City,State,Zip,Source,Date_a,Assessment,St_Number,St_Name,Locunit
0,333950,HARTFORD LODGE#723 LOYAL ORDER,OF MOOSE INC,HARTFORD LODGE#723 LOYAL ORDER,302 WHITE ST,NaN,302 WHITE ST,HARTFORD,CT,06114-0000,2015 LIQUOR PERMIT,01/22/2004,28920.0,302,WHITE ST,NaN
1,681450,SILVER DOLLAR INC,NaN,SILVER DOLLAR RESTAURANT,586 ZION ST,NaN,586 ZION ST,HARTFORD,CT,06106-2348,NaN,11/22/2003,28660.0,586,ZION ST,NaN
2,929411,COLLADO FOOD MARKET LLC,NaN,COLLADO FOOD MARKET LLC,655 BLUE HILLS AV,NaN,655 BLUE HILLS AV,HARTFORD,CT,06112,2014 DECLARATION,10/09/2014,2720.0,655,BLUE HILLS AV,NaN
3,929810,CLEAREDGE POWER FINANCE,NaN,CLEAREDGE POWER FINANCE,C/O REF INVESTMENTS LTD,3727 LOUIS RD,114 WOODLAND ST,PALO ALTO,CA,94303,NaN,11/01/2014,669550.0,114,WOODLAND ST,NaN
4,559490,UBS FINANCIAL SERVICES INC,NaN,UBS FINANCIAL SERVICES INC,C/O DUCHARME MCMILLEN & ASSOCIATES,PO BOX 80615,1 STATE ST SUITE 1600,INDIANAPOLIS,IN,46280,2014 DECLARATION,12/10/2014,533710.0,1,STATE ST,SUITE 1600

In [281]:
df_hartford.columns

Index(['Account', 'Owner', 'Owner2', 'DBA', 'Address', 'Address2', 'Location',
       'City', 'State', 'Zip', 'Source', 'Date_a', 'Assessment', 'St_Number',
       'St_Name', 'Locunit'],
      dtype='object')

# Culver

In [282]:
df_culver.head(5)

,Business Category,Business Type,Business DBA,Street Address,City,State,Zip,Start Date
0,PROFESSIONAL,ACCOUNTANT - C.P.A.,ACCOUNTING SOLUTION,10736 JEFFERSON BL #105,CULVER CITY,CA,90230,01/01/2001
1,PROFESSIONAL,ACCOUNTANT - C.P.A.,ACCURATE RECORDS BUSINESS SERVICES,10220 CULVER BL #201,CULVER CITY,CA,90232,09/01/1984
2,PROFESSIONAL,ACCOUNTANT - C.P.A.,"ARTHUR A. ENDO, C P A",4248 OVERLAND AV #240,CULVER CITY,CA,90230,01/01/2005
3,APARTMENT RENTALS,APARTMENT RENTALS,JEFFREY FLECK,11030 VENICE BLVD,CULVER CITY,CA,90232,02/01/1999
4,PROFESSIONAL,ACCOUNTANT - C.P.A.,BRIAN TOBIN E A,10811 WASHINGTON BLVD #260,CULVER CITY,CA,90232,01/01/2011

In [283]:
df_culver.columns

Index(['Business Category', 'Business Type', 'Business DBA', 'Street Address',
       'City', 'State', 'Zip', 'Start Date'],
      dtype='object')

In [284]:
df_culver = df_culver[['Business DBA', 'Business Type', 'City', 'State']]
df_culver.head(5)

                         Business DBA        Business Type         City State
0                 ACCOUNTING SOLUTION  ACCOUNTANT - C.P.A.  CULVER CITY    CA
1  ACCURATE RECORDS BUSINESS SERVICES  ACCOUNTANT - C.P.A.  CULVER CITY    CA
2               ARTHUR A. ENDO, C P A  ACCOUNTANT - C.P.A.  CULVER CITY    CA
3                       JEFFREY FLECK    APARTMENT RENTALS  CULVER CITY    CA
4                     BRIAN TOBIN E A  ACCOUNTANT - C.P.A.  CULVER CITY    CA

In [285]:
df_culver = df_culver.dropna()
df_culver.columns = ['Business Name', 'Industry', 'City', 'State']
df_culver.head(5)

                        Business Name             Industry         City State
0                 ACCOUNTING SOLUTION  ACCOUNTANT - C.P.A.  CULVER CITY    CA
1  ACCURATE RECORDS BUSINESS SERVICES  ACCOUNTANT - C.P.A.  CULVER CITY    CA
2               ARTHUR A. ENDO, C P A  ACCOUNTANT - C.P.A.  CULVER CITY    CA
3                       JEFFREY FLECK    APARTMENT RENTALS  CULVER CITY    CA
4                     BRIAN TOBIN E A  ACCOUNTANT - C.P.A.  CULVER CITY    CA

# Chattanooga (drop due to no business type)

In [286]:
df_chattanooga.head(5)

,Business Name,Business Startdate,City,State,Street Direction,Street Name,Street Number,Street Suffix,Zip,Business Class,Reason for Applying,Latitude,Longitude,Location
0,TITTLE CONSTRUCTION & RENOVATION LLC,12/01/2010,CHATTANOOGA,TN,NaN,VARIOUS LOCATIONS,9999.0,NaN,37402,NaN,1 - New Business,NaN,NaN,NaN
1,3PD INC,05/09/2009,CHATTANOOGA,TN,NaN,ENTERPRISE PARK,6300.0,DR,37416,NaN,1 - New Business,35.067812,-85.177246,"(35.0678120600001, -85.1772457179999)"
2,J & J'S DINER,04/12/2010,CHATTANOOGA,TN,NaN,CHERRY,723.0,ST,37402,NaN,1 - New Business,35.047674,-85.308532,"(35.0476740450001, -85.3085323889999)"
3,JIM MORRISON BUILDER,02/14/2001,CHATTANOOGA,TN,NaN,VARIOUS LOCATIONS,9999.0,HWY,37402,NaN,1 - New Business,NaN,NaN,NaN
4,CREATIVE CONCEPTS - AMANDA LEBLANC,04/20/2012,CHATTANOOGA,TN,NaN,PERIMETER,6231.0,DR,37412,NaN,1 - New Business,35.029933,-85.184089,"(35.029933473, -85.184089141)"

In [287]:
df_chattanooga.columns

Index(['Business Name', 'Business Startdate', 'City', 'State',
       'Street Direction', 'Street Name', 'Street Number', 'Street Suffix',
       'Zip', 'Business Class', 'Reason for Applying', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

# Mixed

In [288]:
df_mixed.head(5)

,ACCOUNT NO,ACCOUNT NAME,LEGAL NAME,ACCOUNT LOCATION CODE,ACCOUNT LOCATION,CONTACT PERSON,BUSINESS OPEN DATE,BUSINESS STATUS,BUSINESS CLOSE DATE,OWNERSHIP TYPE,...,MAILING ADDRESS - CITY,MAILING ADDRESS - STATE,MAILING ADDRESS - ZIP CODE,PHYSICAL ADDRESS - LINE 1,PHYSICAL ADDRESS - LINE 2,PHYSICAL ADDRESS - CITY,PHYSICAL ADDRESS - STATE,PHYSICAL ADDRESS - ZIP CODE,ADDRESS ID,GEOLOCATION
0,921479,TODD HINE,TODD HINE,9,Outside EBR Parish,AMANDA PARRETT,07/01/2016,O,NaN,INDV,...,SULPHUR,LA,70665,NaN,4327 HWY 27 S,SULPHUR,LA,70665,NaN,"SULPHUR, LA 70665\n(30.160636, -93.402937)"
1,926898,BEAMEX INC,BEAMEX INC,10,Outside Louisiana,LORI ROLLINGER,04/01/2018,O,NaN,CORP,...,MARIETTA,GA,30067,NaN,2152 NORTHWEST PARKWAY STE A,MARIETTA,GA,30067,NaN,NaN
2,443395,AVANTI,AVANTI,10,Outside Louisiana,NaN,05/01/1995,O,NaN,UNKN,...,REDDING,LA,96002,NaN,07000 DANYEUR,REDDING,CA,96001,NaN,"REDDING, CA 96001\n(40.571049, -122.435034)"
3,455926,TERMCOR,TERMCOR,10,Outside Louisiana,NaN,09/01/1995,C,06/30/2012,UNKN,...,CONROE,TX,77301,NaN,498 NORTH LOOP 336 EAST,CONROE,TX,77301,NaN,"CONROE, TX 77301\n(30.310951, -95.444101)"
4,609342,PENINSULAR SLATE CO OF TEXAS,PENINSULAR SLATE CO OF TEXAS,10,Outside Louisiana,NaN,12/01/1999,O,NaN,UNKN,...,TROY M,LA,48099,NaN,01166 E BIG BEAVER RD,TROY,MI,48099,NaN,"TROY, MI 48099\n(42.561608, -83.147612)"

In [289]:
df_mixed.columns

Index(['ACCOUNT NO', 'ACCOUNT NAME', 'LEGAL NAME', 'ACCOUNT LOCATION CODE',
       'ACCOUNT LOCATION', 'CONTACT PERSON', 'BUSINESS OPEN DATE',
       'BUSINESS STATUS', 'BUSINESS CLOSE DATE', 'OWNERSHIP TYPE',
       'ACCOUNT TYPE CODE', 'ACCOUNT TYPE', 'NAICS Code', 'NAICS CATEGORY',
       'NAICS GROUP', 'ABC STATUS CODE', 'ABC STATUS', 'CONSOLIDATED FILER',
       'MAILING ADDRESS - LINE 1', 'MAILING ADDRESS - LINE 2',
       'MAILING ADDRESS - CITY', 'MAILING ADDRESS - STATE',
       'MAILING ADDRESS - ZIP CODE', 'PHYSICAL ADDRESS - LINE 1',
       'PHYSICAL ADDRESS - LINE 2', 'PHYSICAL ADDRESS - CITY',
       'PHYSICAL ADDRESS - STATE', 'PHYSICAL ADDRESS - ZIP CODE', 'ADDRESS ID',
       'GEOLOCATION'],
      dtype='object')

In [290]:
df_mixed['NAICS CATEGORY']

0                             Nonstore Retailers
1                   Miscellaneous Other Services
2                  Miscellaneous Store Retailers
3                      Construction of Buildings
4                             Nonstore Retailers
5                             Nonstore Retailers
6                      Rental & Leasing Services
7                             Nonstore Retailers
8                             Nonstore Retailers
9                             Nonstore Retailers
10                            Nonstore Retailers
11                            Nonstore Retailers
12                            Nonstore Retailers
13                            Nonstore Retailers
14                            Nonstore Retailers
15                            Nonstore Retailers
16                           Internet Sales Only
17                            Nonstore Retailers
18                            Nonstore Retailers
19                            Nonstore Retailers
20                            Nonstore Retailers
21                            Nonstore Retailers
22                 Miscellaneous Store Retailers
23                                           NaN
24                            Nonstore Retailers
25                     Rental & Leasing Services
26                            Nonstore Retailers
27                   Specialty Trade Contractors
28       Insurance Carriers & Related Activities
29                          Repair & Maintenance
                          ...
59619               Miscellaneous Other Services
59620              Electronic & Appliance Stores
59621                                Real Estate
59622                     Food & Beverage Stores
59623               Miscellaneous Other Services
59624                         Nonstore Retailers
59625                     Food & Beverage Stores
59626                Miscellaneous Manufacturing
59627              Miscellaneous Store Retailers
59628                         Nonstore Retailers
59629              Miscellaneous Store Retailers
59630               Miscellaneous Other Services
59631               Miscellaneous Other Services
59632               Miscellaneous Other Services
59633               Miscellaneous Other Services
59634     Clothing & Clothing Accessories Stores
59635     Clothing & Clothing Accessories Stores
59636               Miscellaneous Other Services
59637                Specialty Trade Contractors
59638               Miscellaneous Other Services
59639              Electronic & Appliance Stores
59640            Food Services & Drinking Places
59641                         Nonstore Retailers
59642              Miscellaneous Store Retailers
59643               Miscellaneous Other Services
59644                         Nonstore Retailers
59645                         Nonstore Retailers
59646            Food Services & Drinking Places
59647                                Real Estate
59648                         Nonstore Retailers
Name: NAICS CATEGORY, Length: 59649, dtype: object

In [291]:
df_mixed = df_mixed[['LEGAL NAME', 'NAICS CATEGORY', 'MAILING ADDRESS - CITY', 'MAILING ADDRESS - STATE']]
df_mixed.head(5)

,LEGAL NAME,NAICS CATEGORY,MAILING ADDRESS - CITY,MAILING ADDRESS - STATE
0,TODD HINE,Nonstore Retailers,SULPHUR,LA
1,BEAMEX INC,Miscellaneous Other Services,MARIETTA,GA
2,AVANTI,Miscellaneous Store Retailers,REDDING,LA
3,TERMCOR,Construction of Buildings,CONROE,TX
4,PENINSULAR SLATE CO OF TEXAS,Nonstore Retailers,TROY M,LA

In [292]:
df_mixed = df_mixed.dropna()
df_mixed.columns = ['Business Name', 'Industry', 'City', 'State']
df_mixed.head(5)

                  Business Name                       Industry      City State
0                     TODD HINE             Nonstore Retailers   SULPHUR    LA
1                    BEAMEX INC   Miscellaneous Other Services  MARIETTA    GA
2                        AVANTI  Miscellaneous Store Retailers   REDDING    LA
3                       TERMCOR      Construction of Buildings    CONROE    TX
4  PENINSULAR SLATE CO OF TEXAS             Nonstore Retailers   TROY  M    LA

# Texas

In [293]:
df_texas.head(5)

,LICENSE TYPE,LICENSE NUMBER,BUSINESS COUNTY,BUSINESS NAME,BUSINESS ADDRESS-LINE1,BUSINESS ADDRESS-LINE2,"BUSINESS CITY, STATE ZIP",BUSINESS TELEPHONE,LICENSE EXPIRATION DATE (MMDDCCYY),OWNER NAME,MAILING ADDRESS LINE1,MAILING ADDRESS LINE2,"MAILING ADDRESS CITY, STATE ZIP",MAILING ADDRESS COUNTY CODE,MAILING ADDRESS COUNTY,MAILING ADDRESS ZIP,OWNER TELEPHONE,LICENSE SUBTYPE,CONTINUING EDUCATION FLAG,Mailing Address Location
0,Cosmetology Operator,1410706,10/26/2019,DENTON,"CHO, IL",NaN,NaN,NaN,NaN,"CHO, IL",NaN,NaN,NaN,121,DENTON,NaN,NaN,OP,N,NaN
1,NaN,7121,10/02/2019,DALLAS,"PALACIOS, ARACELI",NaN,NaN,NaN,NaN,"PALACIOS, ARACELI",NaN,NaN,NaN,113,DALLAS,NaN,NaN,DE,NaN,NaN
2,A/C Technician,56096,12/28/2018,HARRIS,"RUEDA, RAY",NaN,NaN,NaN,NaN,"RUEDA, RAY",NaN,NaN,NaN,201,HARRIS,NaN,NaN,REG,N,NaN
3,NaN,5604,08/10/2019,HARRIS,"GODFREY, WENDY KAYE",NaN,NaN,NaN,NaN,"GODFREY, WENDY KAYE",NaN,NaN,NaN,201,HARRIS,NaN,NaN,DE,NaN,NaN
4,NaN,4006,07/24/2019,BELL,"WADE, DONALD EDWARD",NaN,NaN,NaN,NaN,"WADE, DONALD EDWARD",NaN,NaN,NaN,27,BELL,NaN,NaN,DS,NaN,NaN

In [294]:
df_texas.columns

Index(['LICENSE TYPE', 'LICENSE NUMBER', 'BUSINESS COUNTY', 'BUSINESS NAME',
       'BUSINESS ADDRESS-LINE1', 'BUSINESS ADDRESS-LINE2',
       'BUSINESS CITY, STATE ZIP', 'BUSINESS TELEPHONE',
       'LICENSE EXPIRATION DATE (MMDDCCYY)', 'OWNER NAME',
       'MAILING ADDRESS LINE1', 'MAILING ADDRESS LINE2',
       'MAILING ADDRESS CITY, STATE ZIP', 'MAILING ADDRESS COUNTY CODE',
       'MAILING ADDRESS COUNTY', 'MAILING ADDRESS ZIP', 'OWNER TELEPHONE',
       'LICENSE SUBTYPE', 'CONTINUING EDUCATION FLAG',
       'Mailing Address Location'],
      dtype='object')

In [295]:
df_texas = df_texas[['BUSINESS NAME', 'LICENSE TYPE']]
df_texas = df_texas.dropna()

In [296]:
df_texas['City'] = 'TX'
df_texas['State'] = 'TX'
df_texas.columns = ['Business Name', 'Industry', 'City', 'State']
df_texas.head(5)

  Business Name                  Industry City State
0        DENTON      Cosmetology Operator   TX    TX
2        HARRIS            A/C Technician   TX    TX
6       ARANSAS  Cosmetology Beauty Salon   TX    TX
7      MCLENNAN      Cosmetology Operator   TX    TX
8         BEXAR           Barber, Class A   TX    TX

# Squamish Canada

In [297]:
df_squamishCanada.head(5)

,X,Y,OBJECTID,GIS_ID,Business_Licence,Business_Name,Business_Location,Category,Code,NAICS,Date_Opened,NonResident
0,-123.163577,49.763766,1001,3081022.0,5357,WINDLINE FARM,1000 LARAMEE ROAD\nBRACKENDALE BC Canada V0N1H0,"AGRICULTURE, FORESTRY, FISHING AND HUNTING",Support Activities for Animal Production,110000,2011-11-18T00:00:00.000Z,NaN
1,-123.152270,49.717938,1002,3076824.0,5359,ASM SQUAMISH SCRAP METALS (2011) LTD.,1111A INDUSTRIAL WAY\nSQUAMISH BC Canada V8B0H1,WHOLESALE TRADE,Recyclable Material Merchant Wholesalers,420000,2011-11-22T00:00:00.000Z,NaN
2,-123.118092,49.739432,1003,3082036.0,5363,NEW ERA PLUMBING & HEATING LTD.,2022 DOWAD DRIVE\nSQUAMISH BC Canada V0N1T0,CONSTRUCTION,"Plumbing, Heating, and Air-Conditioning Contra...",230000,2012-01-18T00:00:00.000Z,NaN
3,-123.131324,49.702228,1004,3077857.0,5370,BEAUTIFULLY BRONZED MOBILE CUSTOM AIRBRUSH TAN...,BOX 1219\nGARIBALDI HIGHLANDS BC Canada V0N1T0,OTHER SERVICES (EXPECT PUBLIC ADMINISTRATION),Other Personal Care Services,810000,2012-02-03T00:00:00.000Z,NaN
4,-123.112790,49.707095,1005,3077804.0,5372,SOLUTIONS PEST CONTROL LTD.,7 40437 TANTALUS ROAD\nSQUAMISH BC Canada V8B0C2,"ADMINISTRATIVE AND SUPPORT, WASTE MANAGEMENT A...",Exterminating and Pest Control Services,560000,2012-02-03T00:00:00.000Z,NaN

In [298]:
df_squamishCanada = df_squamishCanada[['Business_Name', 'Code']]
df_squamishCanada.head(5)

,Business_Name,Code
0,WINDLINE FARM,Support Activities for Animal Production
1,ASM SQUAMISH SCRAP METALS (2011) LTD.,Recyclable Material Merchant Wholesalers
2,NEW ERA PLUMBING & HEATING LTD.,"Plumbing, Heating, and Air-Conditioning Contra..."
3,BEAUTIFULLY BRONZED MOBILE CUSTOM AIRBRUSH TAN...,Other Personal Care Services
4,SOLUTIONS PEST CONTROL LTD.,Exterminating and Pest Control Services

In [299]:
df_squamishCanada['City'] = 'Squamish'
df_squamishCanada['State'] = 'Canada'
df_squamishCanada.columns = ['Business Name', 'Industry', 'City', 'State']
df_squamishCanada.head(5)

,Business Name,Industry,City,State
0,WINDLINE FARM,Support Activities for Animal Production,Squamish,Canada
1,ASM SQUAMISH SCRAP METALS (2011) LTD.,Recyclable Material Merchant Wholesalers,Squamish,Canada
2,NEW ERA PLUMBING & HEATING LTD.,"Plumbing, Heating, and Air-Conditioning Contra...",Squamish,Canada
3,BEAUTIFULLY BRONZED MOBILE CUSTOM AIRBRUSH TAN...,Other Personal Care Services,Squamish,Canada
4,SOLUTIONS PEST CONTROL LTD.,Exterminating and Pest Control Services,Squamish,Canada

# NewYork

In [300]:
df_NY.head(5)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,2029813-DCA,Individual,03/31/2018,Inactive,10/26/2015,Sightseeing Guide,"WILLIAMS, MONIQUE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2068796-DCA,Individual,03/31/2020,Active,04/03/2018,Sightseeing Guide,"Chung, Yeon",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1235988-DCA,Business,02/28/2021,Active,08/15/2006,Home Improvement Contractor,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",NaN,16927,LIBERTY AVE,...,412.0,27.0,4000000.0,4102180032,QN61,444.0,NaN,-73.788915,40.703297,"(40.70329689832498, -73.78891454010119)"
3,1453298-DCA,Individual,05/31/2019,Active,01/07/2013,Locksmith,"RAO, GARY PETER",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0993026-DCA,Individual,09/30/2015,Inactive,05/06/2013,General Vendor,"BARCLAY, WES",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [301]:
df_NY.columns

Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')

In [302]:
df_NY = df_NY[df_NY['License Status'] != 'Inactive']

In [303]:
df_NY = df_NY[['Business Name', 'Industry', 'Address City', 'Address State']]
df_NY.head()

,Business Name,Industry,Address City,Address State
1,"Chung, Yeon",Sightseeing Guide,CLOSTER,NJ
2,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",Home Improvement Contractor,JAMAICA,NY
3,"RAO, GARY PETER",Locksmith,BRONX,NY
5,"ROGOWSKI, SEBASTIAN",Home Improvement Salesperson,BROOKLYN,NY
6,KANG LE LAUNDROMAT INC,Laundries,BROOKLYN,NY

In [304]:
df_NY.columns = ['Business Name', 'Industry', 'City', 'State']
df_NY.head(5)

,Business Name,Industry,City,State
1,"Chung, Yeon",Sightseeing Guide,CLOSTER,NJ
2,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",Home Improvement Contractor,JAMAICA,NY
3,"RAO, GARY PETER",Locksmith,BRONX,NY
5,"ROGOWSKI, SEBASTIAN",Home Improvement Salesperson,BROOKLYN,NY
6,KANG LE LAUNDROMAT INC,Laundries,BROOKLYN,NY

# Delware

In [305]:
df_delaware.head()

,Business name,Trade name,Business Activity,Current license valid from,Current license valid to,Address 1,Address 2,City,State,Zip,Country,License number,Geocoded Location
0,LIBERTY HEALTHCARE CORP,DELAWARE PSYCHIATRIC CENTER,PROFESSIONAL AND/OR PRSL SRVCS-UNCLASSIFIED,01/01/2018,12/31/2018,NaN,1901 N DUPONT HWY,NEW CASTLE,DE,197201100,NaN,2014603618,"1901 N DUPONT HWY\nNEW CASTLE, DE 197201100\n(..."
1,"RANDALL C. HAASE, P.E.",NaN,PROFESSIONAL SERVICES- ENGINEER,01/01/2018,12/31/2018,NaN,1805 N 2ND ST STE 5539,ROGERS,AR,727562423,NaN,2009605808,"1805 N 2ND ST STE 5539\nROGERS, AR 727562423\n..."
2,TRINITY HEALTH LLC,NaN,PROFESSIONAL AND/OR PERSONAL SERVICES,01/01/2018,12/31/2020,NaN,1 AVEBURY CT,REHOBOTH BCH,DE,199718601,NaN,2010606189,"1 AVEBURY CT\nREHOBOTH BCH, DE 199718601\n(38...."
3,GLOBAL PROCUREMENT CORPORATION,NaN,RETAILER-MACHINERY EQUIPMENT & SUPPLIES,01/01/2018,12/31/2018,NaN,11401 LAMAR AVE,OVERLAND PARK,KS,662111508,NaN,2002105673,"11401 LAMAR AVE\nOVERLAND PARK, KS 662111508\n..."
4,NICHOLAS BARBA LLC,NaN,PROFESSIONAL AND/OR PERSONAL SERVICES,01/01/2018,12/31/2018,NaN,9 HURST RD,WILMINGTON,DE,198033716,NaN,2014101007,"9 HURST RD\nWILMINGTON, DE 198033716\n(39.7846..."

In [306]:
df_delaware = df_delaware[['Business name', 'Business Activity', 'City', 'State']]
df_delaware.head()

,Business name,Business Activity,City,State
0,LIBERTY HEALTHCARE CORP,PROFESSIONAL AND/OR PRSL SRVCS-UNCLASSIFIED,NEW CASTLE,DE
1,"RANDALL C. HAASE, P.E.",PROFESSIONAL SERVICES- ENGINEER,ROGERS,AR
2,TRINITY HEALTH LLC,PROFESSIONAL AND/OR PERSONAL SERVICES,REHOBOTH BCH,DE
3,GLOBAL PROCUREMENT CORPORATION,RETAILER-MACHINERY EQUIPMENT & SUPPLIES,OVERLAND PARK,KS
4,NICHOLAS BARBA LLC,PROFESSIONAL AND/OR PERSONAL SERVICES,WILMINGTON,DE

In [307]:
df_delaware.columns = ['Business Name', 'Industry', 'City', 'State']
df_delaware.head(5)

,Business Name,Industry,City,State
0,LIBERTY HEALTHCARE CORP,PROFESSIONAL AND/OR PRSL SRVCS-UNCLASSIFIED,NEW CASTLE,DE
1,"RANDALL C. HAASE, P.E.",PROFESSIONAL SERVICES- ENGINEER,ROGERS,AR
2,TRINITY HEALTH LLC,PROFESSIONAL AND/OR PERSONAL SERVICES,REHOBOTH BCH,DE
3,GLOBAL PROCUREMENT CORPORATION,RETAILER-MACHINERY EQUIPMENT & SUPPLIES,OVERLAND PARK,KS
4,NICHOLAS BARBA LLC,PROFESSIONAL AND/OR PERSONAL SERVICES,WILMINGTON,DE

# Berkeley

In [308]:
df_berkeley.head()

,APN,Minority_Owned,Female_Owned,RecordID,BusDesc,B1_PER_SUB_TYPE,DBA,NAICS,Tax_Code,Employee_Num,...,B1_ADDRESS2,B1_CITY,B1_STATE,B1_ZIP,B1_CONTACT_TYPE,B1_FULL_ADDRESS,B1_SITUS_CITY,B1_SITUS_STATE,B1_SITUS_ZIP,Business_Location
0,055 183301701,No,No,BL-038759,RESIDENTIAL RENTAL 14 UNIST,Rental of Real Property,2609 ELLSWORTH PARTNERS,531110 - Lessors of Residential Buildings and ...,L,1.0,...,NaN,BERKELEY,CA,94704-1208,Business Owner,2609 ELLSWORTH ST,BERKELEY,CA,94704.0,"2609 ELLSWORTH ST\nBERKELEY, CA 94704\n(37.862..."
1,ZZZZZZZZZZZZZ,No,No,BL-018746,ELECTRICAL CONTRACTOR,Construction or Contractor,PACIFIC SIGNALING SYSTEMS,238210 - Electrical Contractors and Other Wiri...,C,12.0,...,NaN,PLEASANTON,CA,94588-8503,Business Owner,0 VARIOUS,BERKELEY,CA,94704.0,"0 VARIOUS\nBERKELEY, CA 94704"
2,ZZZZZZZZZZZZZ,No,No,BL-011640,METAL CONTRACTOR,Construction or Contractor,SERVICE METAL PRODUCTS,238130 - Framing Contractors,C,20.0,...,NaN,OAKLAND,CA,94603,Business Owner,0 VARIOUS,BERKELEY,CA,94704.0,"0 VARIOUS\nBERKELEY, CA 94704"
3,NaN,No,Yes,BL-031630,MOTEL,Rental of Real Property,GOLDEN BEAR INN INC,721110 - Hotels (except Casino Hotels) and Motels,L,12.0,...,NaN,BERKELEY,CA,94702,Business Owner,1620 SAN PABLO AVE,BERKELEY,CA,94702.0,"1620 SAN PABLO AVE\nBERKELEY, CA 94702\n(37.87..."
4,NaN,No,Yes,BL-025362,RENTAL PROPERTY,Rental of Real Property,ROBERTS FIFTH STREET LLC,"711310 - Promoters of Performing Arts, Sports,...",L,1.0,...,NaN,LOS ALTOS,CA,94024-7045,Business Owner,1246 FIFTH ST,BERKELEY,CA,94710.0,"1246 FIFTH ST\nBERKELEY, CA 94710\n(37.879389,..."

In [309]:
df_berkeley.columns

Index(['APN', 'Minority_Owned', 'Female_Owned', 'RecordID', 'BusDesc',
       'B1_PER_SUB_TYPE', 'DBA', 'NAICS', 'Tax_Code', 'Employee_Num',
       'Bus_Own_Type', 'B1_BUSINESS_NAME', 'B1_ADDRESS1', 'B1_ADDRESS2',
       'B1_CITY', 'B1_STATE', 'B1_ZIP', 'B1_CONTACT_TYPE', 'B1_FULL_ADDRESS',
       'B1_SITUS_CITY', 'B1_SITUS_STATE', 'B1_SITUS_ZIP', 'Business_Location'],
      dtype='object')

In [310]:
df_berkeley = df_berkeley[['DBA', 'BusDesc', 'B1_CITY', 'B1_STATE']]
df_berkeley.head()

                         DBA                      BusDesc     B1_CITY B1_STATE
0    2609 ELLSWORTH PARTNERS  RESIDENTIAL RENTAL 14 UNIST    BERKELEY       CA
1  PACIFIC SIGNALING SYSTEMS        ELECTRICAL CONTRACTOR  PLEASANTON       CA
2     SERVICE METAL PRODUCTS             METAL CONTRACTOR     OAKLAND       CA
3        GOLDEN BEAR INN INC                        MOTEL    BERKELEY       CA
4   ROBERTS FIFTH STREET LLC              RENTAL PROPERTY   LOS ALTOS       CA

In [311]:
df_berkeley = df_berkeley.dropna()
df_berkeley.columns = ['Business Name', 'Industry', 'City', 'State']
df_berkeley.head(5)

               Business Name                     Industry        City State
0    2609 ELLSWORTH PARTNERS  RESIDENTIAL RENTAL 14 UNIST    BERKELEY    CA
1  PACIFIC SIGNALING SYSTEMS        ELECTRICAL CONTRACTOR  PLEASANTON    CA
2     SERVICE METAL PRODUCTS             METAL CONTRACTOR     OAKLAND    CA
3        GOLDEN BEAR INN INC                        MOTEL    BERKELEY    CA
4   ROBERTS FIFTH STREET LLC              RENTAL PROPERTY   LOS ALTOS    CA

# Canada Companies

In [312]:
df_Canada.head(5)

,Name,QMV(C$) 31-August-2018,O/S Shares 31-August-2018,Sector,Sub Sector,HQ Location,HQ Region,Volume YTD 31-August-2018,Value (C$) YTD 31-August-2018,Number of Trades YTD 31-August-2018,Value in $
0,5N Plus Inc.,"327,326,479","84,552,291",Clean Technology,NaN,Quebec,Canada,"10,767,777","40,496,368","13,976",8291188.29
1,A&W Revenue Royalties Income Fund,"457,045,798","12,504,673",Consumer Products & Services,NaN,BC,Canada,"2,457,695","80,491,099","15,570",1892425.15
2,Aberdeen International Inc.,"9,605,228","96,052,282",Financial Services,NaN,ON,Canada,"11,119,307","1,813,666","1,360",8561866.39
3,Absolute Software Corporation,"316,923,696","40,269,847",Technology,NaN,BC,Canada,"8,588,010","59,347,720","24,505",6612767.70
4,Acadian Timber Corp.,"319,566,226","16,731,216",Industrial Products & Services,Forest Products & Paper,BC,Canada,"1,008,471","19,568,276","6,549",776522.67

In [313]:
df_Canada.columns

Index(['Name', ' QMV(C$)\n31-August-2018 ', ' O/S Shares\n31-August-2018 ',
       'Sector', 'Sub\nSector', 'HQ\nLocation', 'HQ\nRegion',
       ' Volume YTD\n31-August-2018 ', ' Value (C$) YTD\n31-August-2018 ',
       ' Number of \nTrades YTD\n31-August-2018 ', 'Value in $'],
      dtype='object')

In [314]:
df_Canada = df_Canada[['Name', 'Sector', 'HQ\nLocation', 'HQ\nRegion']]
df_Canada.head()

,Name,Sector,HQ Location,HQ Region
0,5N Plus Inc.,Clean Technology,Quebec,Canada
1,A&W Revenue Royalties Income Fund,Consumer Products & Services,BC,Canada
2,Aberdeen International Inc.,Financial Services,ON,Canada
3,Absolute Software Corporation,Technology,BC,Canada
4,Acadian Timber Corp.,Industrial Products & Services,BC,Canada

In [315]:
df_Canada.columns = ['Business Name', 'Industry', 'City', 'State']
df_Canada.head()

,Business Name,Industry,City,State
0,5N Plus Inc.,Clean Technology,Quebec,Canada
1,A&W Revenue Royalties Income Fund,Consumer Products & Services,BC,Canada
2,Aberdeen International Inc.,Financial Services,ON,Canada
3,Absolute Software Corporation,Technology,BC,Canada
4,Acadian Timber Corp.,Industrial Products & Services,BC,Canada

# S&P 500

In [316]:
df_sp500.head(5)

,Unnamed: 0,Symbol,Name,Sector,Price,Price/Earnings,Market Cap,Health Care,Consumer Products,Technology,Industrials,Financials,Real Estate,Utilities,Energy
0,0,MMM,3M Company,Industrials,222.89,24.31,138721055226,0,0,0,1,0,0,0,0
1,1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,10783419933,0,0,0,1,0,0,0,0
2,2,ABT,Abbott Laboratories,Health Care,56.27,22.51,102121042306,1,0,0,0,0,0,0,0
3,3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,181386347059,1,0,0,0,0,0,0,0
4,4,ACN,Accenture plc,Information Technology,150.51,25.47,98765855553,0,0,1,0,0,0,0,0

In [317]:
df_sp500 = df_sp500[['Name', 'Sector']]
df_sp500.head(5)

                  Name                  Sector
0           3M Company             Industrials
1      A.O. Smith Corp             Industrials
2  Abbott Laboratories             Health Care
3          AbbVie Inc.             Health Care
4        Accenture plc  Information Technology

In [318]:
df_sp500['City'] = 'N/A'
df_sp500['State'] = 'USA'
df_sp500.columns = ['Business Name', 'Industry', 'City', 'State']
df_sp500.head(5)

         Business Name                Industry City State
0           3M Company             Industrials  N/A   USA
1      A.O. Smith Corp             Industrials  N/A   USA
2  Abbott Laboratories             Health Care  N/A   USA
3          AbbVie Inc.             Health Care  N/A   USA
4        Accenture plc  Information Technology  N/A   USA

# Nasdaq

In [319]:
df_nasdaq.head(5)

,Unnamed: 0,Name,MarketCap,Sector,industry
0,1,"1347 Property Insurance Holdings, Inc.",$37.71M,Finance,Property-Casualty Insurers
1,4,"1-800 FLOWERS.COM, Inc.",$722.78M,Consumer Services,Other Specialty Stores
2,7,"21Vianet Group, Inc.",$1.07B,Technology,"Computer Software: Programming, Data Processing"
3,8,"2U, Inc.",$4.03B,Technology,Computer Software: Prepackaged Software
4,10,"51job, Inc.",$3.92B,Technology,Diversified Commercial Services

In [320]:
df_nasdaq = df_nasdaq[['Name', 'industry']]
df_nasdaq.head()

,Name,industry
0,"1347 Property Insurance Holdings, Inc.",Property-Casualty Insurers
1,"1-800 FLOWERS.COM, Inc.",Other Specialty Stores
2,"21Vianet Group, Inc.","Computer Software: Programming, Data Processing"
3,"2U, Inc.",Computer Software: Prepackaged Software
4,"51job, Inc.",Diversified Commercial Services

In [321]:
df_nasdaq['City'] = 'N/A'
df_nasdaq['State'] = 'USA'
df_nasdaq.columns = ['Business Name', 'Industry', 'City', 'State']
df_nasdaq.head(5)

,Business Name,Industry,City,State
0,"1347 Property Insurance Holdings, Inc.",Property-Casualty Insurers,N/A,USA
1,"1-800 FLOWERS.COM, Inc.",Other Specialty Stores,N/A,USA
2,"21Vianet Group, Inc.","Computer Software: Programming, Data Processing",N/A,USA
3,"2U, Inc.",Computer Software: Prepackaged Software,N/A,USA
4,"51job, Inc.",Diversified Commercial Services,N/A,USA

# UK

In [322]:
df_UK.head()

,Admission Date,Company Name,ICB Industry,ICB Super-Sector,International Issuer,Company Market Cap (m),Company Market Cap ($m)
0,02/08/2006,1PM PLC,Financials,Financial Services,No,45.69,53
1,02/02/2009,1SPATIAL PLC,Industrials,Industrial Goods & Services,No,43.43,50.38
2,15/04/2005,21ST CENTURY TECHNOLOGY PLC,Industrials,Industrial Goods & Services,No,3.03,3.51
3,18/07/1994,3I GROUP PLC,Financials,Financial Services,No,"9,157.34",10622.51
4,18/02/2014,4D PHARMA PLC,Health Care,Health Care,No,111.99,129.91

In [323]:
df_UK = df_UK[['Company Name', 'ICB Super-Sector']]
df_UK.head()

                  Company Name             ICB Super-Sector
0                      1PM PLC           Financial Services
1                 1SPATIAL PLC  Industrial Goods & Services
2  21ST CENTURY TECHNOLOGY PLC  Industrial Goods & Services
3                 3I GROUP PLC           Financial Services
4                4D PHARMA PLC                  Health Care

In [324]:
df_UK['City'] = 'N/A'
df_UK['State'] = 'UK'
df_UK.columns = ['Business Name', 'Industry', 'City', 'State']
df_UK.head(5)

                 Business Name                     Industry City State
0                      1PM PLC           Financial Services  N/A    UK
1                 1SPATIAL PLC  Industrial Goods & Services  N/A    UK
2  21ST CENTURY TECHNOLOGY PLC  Industrial Goods & Services  N/A    UK
3                 3I GROUP PLC           Financial Services  N/A    UK
4                4D PHARMA PLC                  Health Care  N/A    UK

# Concat to one

In [325]:
frames = [df_sp500, df_Canada, df_UK, df_nasdaq, df_sacramento,df_washington,df_virginia,df_seattle,df_santamonica,df_SF, df_SD, df_providence, df_LA, df_kansas,df_johnscreek, df_culver,df_mixed, df_texas, df_squamishCanada,df_NY, df_berkeley, df_delaware ]
result = pd.concat(frames)

In [326]:
result.head()

         Business Name                Industry City State
0           3M Company             Industrials  N/A   USA
1      A.O. Smith Corp             Industrials  N/A   USA
2  Abbott Laboratories             Health Care  N/A   USA
3          AbbVie Inc.             Health Care  N/A   USA
4        Accenture plc  Information Technology  N/A   USA

In [327]:
result.describe()

       Business Name              Industry     City    State
count        1647469               1647483  1647396  1647212
unique        940426                 27813     8703      170
top           HARRIS  Cosmetology Operator       TX       CA
freq          116603                162905   605937   705407

In [328]:
result.to_csv("dataXData.csv")