In [1]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from difflib import SequenceMatcher as SM
import pandas as pd
import numpy as np
import time
import Levenshtein
import re

In [2]:
fuzz.ratio("this is a test", "this is a test!")
fuzz.token_sort_ratio("Amazon", "aMZon")

91

In [3]:
data = pd.read_csv('dataXData.csv')
company = data['Business Name'].unique()
company = company.astype(str)
data.head()

   Unnamed: 0        Business Name                Industry City State
0           0           3M Company             Industrials  NaN   USA
1           1      A.O. Smith Corp             Industrials  NaN   USA
2           2  Abbott Laboratories             Health Care  NaN   USA
3           3          AbbVie Inc.             Health Care  NaN   USA
4           4        Accenture plc  Information Technology  NaN   USA

In [4]:
data.head()

   Unnamed: 0        Business Name                Industry City State
0           0           3M Company             Industrials  NaN   USA
1           1      A.O. Smith Corp             Industrials  NaN   USA
2           2  Abbott Laboratories             Health Care  NaN   USA
3           3          AbbVie Inc.             Health Care  NaN   USA
4           4        Accenture plc  Information Technology  NaN   USA

In [5]:
pd.unique(data[['City']].values.ravel())

array([nan, 'Quebec', 'BC', ..., 'TEMPERANCE', 'DELMONT', 'MONACA'],
      dtype=object)

In [6]:
print(len(company))

940427

In [7]:
company

array(['3M Company', 'A.O. Smith Corp', 'Abbott Laboratories', ...,
       'DAVID BLACKMORE & ASSOCIATES', 'DESIGNING DIGITALLY, INC.',
       'KGC ENTERPRISES INC'], dtype='<U100')

In [8]:
text=input("Which text do you want to search? ")
#country = input("Which country do you want to search? ")

Which text do you want to search? ttt

In [14]:
start=time.time()
response='y'
while(response=='y'):
    a=[]
    text2=input("Which text do you want to search? ")
    text1 = re.sub('[^A-Za-z0-9]+', '', text2)
    company = data['Business Name'].unique()
    company = company.astype(str)
    for i in range(0,len(company),1):
        search=company[i].lower()
        a.append(fuzz.token_sort_ratio(text1,search))

    #Finding the company names with maximum risk score aka fuzzy ratio
    ratio=np.array(a)
    c=np.where(ratio==ratio.max())
    maximum=max(a)
    print("Risk Score for",text2,"is",maximum,"for the brands",company[c])

    #Decision Logic for Classification
    if maximum>=90:
        print("High risk")
    elif (maximum<90 and maximum>=60):
        print("Medium Risk")
    else:
        print("No Risk")

    #Recording time taken to search the database
    end=time.time()
    print("Time taken:",round(end-start,3),"seconds")

    df=data.loc[data['Business Name'].isin(company[c])][['Business Name','Industry','City','State']]
    df1=df.drop_duplicates(keep='first')
    print(df1)
    response=input("Do you want to search again? [y/n] ")
print("Thanks for searching with us!")

Which text do you want to search? amaz on
Risk Score for amaz on is 100 for the brands ['Amazon']
High risk
Time taken: 32.977 seconds
       Business Name  Industry           City State
246396        Amazon  Multiple  San+francisco    CA
Do you want to search again? [y/n] n
Thanks for searching with us!

In [10]:
unique_names = []
for d in company[c]:
    lower = d.lower()
    if lower not in unique_names:
        unique_names.append(lower)
        
print(unique_names)

['amazon']